<div class="result">
	<div class="result-close">
		X
	</div>
	<div class="result-win">
		<div class="result-outcome">
			Sorry
		</div>
		<div class="result-image">
			<img src="<%- conf.image %>/dummy/result_01.jpg" alt="">
		</div>
	</div>
	<div class="result-lose">
		<div class="result-outcome">
			Congratulation
		</div>
		<div class="result-image">
			<img src="<%- conf.image %>/dummy/result_02.jpg" alt="">
		</div>
	</div>
</div>