.result {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    padding: 4.67vw;

    /* background-color: var(--custom1-bgColor6); */
	z-index: 30;
	overflow-y: scroll;
    @media (--sp) {
        padding: 4.67vw;
    }
    .result-win,
    .result-lose {
        display: none;
    }
	.result-close {
		position: relative;
		width: 60px;
		height: 60px;
    	margin-left: auto;
	}
	.result-close::after {
		content: '';
		height: 60px;
		border-left: 2px solid #fff;
		position: absolute;
		transform: rotate(45deg);
		left: 28px;
	}
	
	.result-close::before {
		content: '';
		height: 60px;
		border-left: 2px solid #fff;
		position: absolute;
		transform: rotate(-45deg);
		left: 28px;
	}
    .result-outcome {
        margin: 0 0 5vh;
        text-align: center;
		font-size: 2.8vw;
		font-family: var(--fontMonteserrat);
        @media (--sp) {
            margin: 10vh 0 5vh;
            font-size: 12vw;
        }
    }
    .result-image {
        width: 56%;
        margin: auto;
        @media (--sp) {
            width: 100%;
        }
        img {
            max-width: 100%;
        }
    }
}
