<div class="result -bgColor6">
	<div class="result-close"></div>
	<div class="result-win">
		<div class="result-outcome -textColor8">
			Sorry
		</div>
		<div class="result-image">
			<img src="<%- conf.image %>/dummy/result_01.jpg" alt="">
		</div>
	</div>
	<div class="result-lose">
		<div class="result-outcome -textColor8">
			Congratulation
		</div>
		<div class="result-image">
			<img src="<%- conf.image %>/dummy/result_02.jpg" alt="">
		</div>
	</div>
</div>