<div class="loading">
  <div class="loading-wrapper">
    <div class="loading-icon"><img src="<%- conf.image %>/common/logo.png" alt=""></div>
    <div class="loading__progress"><span class="loading__progress-bar"></span></div>
  </div>
</div>