          <div class="list">
            <div class="row">
              <%
                const news = [
                  { date: "2020.01.01", tags: [ "NEWS", "MEDIA", "SAMPLE" ] },
                  { date: "2020.01.01", tags: [ "NEWS", "MEDIA", "SAMPLE" ] },
                  { date: "2020.01.01", tags: [ "NEWS", "MEDIA", "SAMPLE" ] },
                  { date: "2020.01.01", tags: [ "NEWS", "MEDIA", "SAMPLE" ] },
                ]
              %>
              <% news.forEach(function (value, key) { _%>
              <div class="col6 item">
                <a class="item-inner" href="/ticket_detail.html">
                  <div class="item__head">
                    <p class="date item__head-date">2020.01.01</p>
                    <%- include('../../parts/tag/tag.ejs', { conf, type: "normal" }) %>
                  </div>
                  <div class="item__body">
                    <p class="item__body-text">テキストテテキストテキストテキストテキストキスト</p>
                    <p class="item__body-subtext">テキストテテキストテキストテキストテキストキスト</p>
                  </div>
                </a>
              </div>
              <% }); _%>
            </div>
          </div>