<div class="list">
  <div class="row">
    <% for (var i = 0; i < 10; i++) { %>
    <div class="col6 item">
      <a href="/" class="item-inner -dropshadow2">
        <div class="item-cover">
          <img class="-hidden-sp" src="<%- conf.image %>/dummy/list_img_pc.jpg" alt="">
          <img class="-hidden-pc" src="<%- conf.image %>/dummy/list_img_sp.jpg" alt="">
        </div>
        <p class="item-text">テキストテテキストテキストテキストテキストキスト</p>
      </a>
    </div>
    <% } %>
  </div>
</div>