<form name="ques1" method="post" action="/s/n101/form/question">
  <div class="aspform_title">テキストフィールド</div>
  <div class="aspform_answer">TEST</div>
  <br />
  <div class="aspform_title">テキストエリア</div>
  <div class="aspform_answer">フォーム入力</div>
  <br />
  <div class="aspform_title">ドロップダウン</div>
  <div class="aspform_answer">北海道</div>
  <br />
  <div class="aspform_title">ラジオボタン</div>
  <div class="aspform_answer">回答1</div>
  <br />
  <div class="aspform_title">チェックボックス</div>
  <div class="aspform_answer">回答1</div>
  <br />
  <div class="aspform_title">画像投稿</div>
  <br />
  <img src="/s/n101/form/check/4/33befap2484l7joh6bet3kjumfti2oi4_1570701394_6_0.png" style="max-width: 30%;" /><br /><br />
  <input type="submit" name="bt" value="送信"><br>
  <input type="hidden" name="ima" value="5634" />
  <input type="hidden" name="cd" value="test" />
  <input type="hidden" name="tp" value="0" />
  <input type="hidden" name="mode" value="ADD">
</form>
<br />
<form name="ques2" method="post" action="/s/n101/form/question">
  <input type="submit" name="bt" value="やり直す"><br>
  <input type="hidden" name="ima" value="5634" />
  <input type="hidden" name="cd" value="test" />
  <input type="hidden" name="tp" value="0" />
  <input type="hidden" name="mode" value="RET">
</form>