  <div class="banner">
    <div class="base banner__base">
      <div class="inner">
        <ul class="banner__items">
          <%
            const banners = [
              { image: "banner_01.png", url: "" },
              { image: "banner_01.png", url: "" },
              { image: "banner_01.png", url: "" },
              { image: "banner_01.png", url: "" },
            ]
          %>
          <% banners.forEach(function (value, key) { _%>
          <li class="banner__items-item">
            <a href=""><img src="<%- conf.image %>/<%= projectName %>/top/<%- value.image %>" alt=""></a>
          </li>
          <% }); _%>
        </ul>
      </div>
    </div>
  </div>