.banner {
  .banner__base {
    background-color: var(--color5);
    padding-top: 60px;
    padding-bottom: 60px;
    .banner__items {
      display: flex;
      margin-bottom: 0;

      .banner__items-item {
        width: calc(100% / 3);
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  .slick-arrow {
    width: 54px;
    height: 54px;
    z-index: 1;
    &::before {
      background-image: url("../../../images/temp/banner_arrow.png");
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      display: block;
      background-size: 100% auto;
    }
    &.slick-prev {
      left: -90px;
      &::before {
        transform: scale(-1, 1);
      }
    }
    &.slick-next {
      right: -90px;
    }
  }
  .slick-dots li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    overflow: hidden;
    button {
      width: 100%;
      height: 100%;
      background-color: var(--color4);
      opacity: .5;
      &::before {
        content: normal;
      }
    }
    &.slick-active {
      button {
        opacity: 1;
      }
    }
  }
}