.banner {
  .inner {
    @media (--sp) {
      width: auto;
    }
  }
  .banner__base {
    background-color: var(--color5);
    padding-top: 60px;
    padding-bottom: 60px;
    @media (--sp) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .banner__items {
      display: flex;
      margin-bottom: 0;

      .banner__items-item {
        width: calc(100% / 3);
        padding-left: 15px;
        padding-right: 15px;

        @media (--sp) {
          padding-left: 7px;
          padding-right: 7px;
        }
      }
    }
  }
  .slick-arrow {
    width: 54px;
    height: 54px;
    z-index: 1;
    @media (--sp) {
      width: 30px;
      height: 30px;
    }
    &::before {
      background-image: url("../../../images/temp/slide_arrow.png");
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      display: block;
      background-size: 100% auto;
    }
    &.slick-prev {
      &::before {
        transform: scale(-1, 1);
      }
      @media (--not-sp) {
        left: -90px;
      }
      @media (--sp) {
        left: 0;
      }
    }
    &.slick-next {
      @media (--not-sp) {
        right: -90px;
      }
      @media (--sp) {
        right: 0;
      }
    }
  }
  .slick-dots {
    @media (--sp) {
      bottom: -15px;
    }
  }
  .slick-dots li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    overflow: hidden;

    @media (--sp) {
      width: 5px;
      height: 5px;
    }
    button {
      width: 100%;
      height: 100%;
      background-color: var(--color4);
      opacity: .5;
      &::before {
        content: normal;
      }
    }
    &.slick-active {
      button {
        opacity: 1;
      }
    }
  }
}