.banner {
  .banner__base {
    background-color: var(--color5);
    padding-top: 60px;
    padding-bottom: 60px;
    .banner__items {
      display: flex;
      margin-left: -30px;

      .banner__items-item {
        padding-left: 30px;
        width: calc(100% / 3);
      }
    }
  }
}