body {
  &.-color1 {
    background-color: #6ed8db;
    .-textColor1 {
      color: #6ed8db;
    }
    .-textColor2 {
      color: #2a3b73;
      stroke: #2a3b73;
    }
    .-textColor3 {
      color: #4c5e94;
    }
    .-borderColor1 {
      border-color: #4c5e94;
    }
    .-bgColor1 {
      background-color: #6ec5cb;
    }
    .-bgColor2 {
      background-color: #abe8ef;
    }
    .-bgColor2OnlySp {
      @media (--sp) {
        background-color: #abe8ef;
      }
    }
    .-bgColor3 {
      background-color: #ecf6fb;
    }
    .-bgColor4 {
      background-color: #939fca;
    }
    .-bgColor5 {
      background-color: #6ed8db;
    }
    .-bgColor6 {
      background-color: #2a3b73;
    }

    .base--main,
    .form__base {
      background-color: #ecf6fb;
    }

    .button,
    .date {
      background-color: #2a3b73;
    }

    .slick-dots li {
      button {
        background-color: #2a3b73;
      }
    }

    /* radioプレイヤー */
    /* シークバー(全体) */
    .radio-player .bc-player-default_default .vjs-progress-holder::before {
      background: #939fca;
    }

    /* シークバー(プレイ時間カラー) */
    .radio-player .bc-player-default_default .vjs-play-progress,
    .bc-player-default_default .vjs-volume-level {
        background-color: #2a3b73;
    }

    /* シークバー(ロードカラー) */
    .radio-player .bc-player-default_default .vjs-load-progress {
      background-color: #2a3b73;
    }

    /* CMSで展開される箇所 */
    form {
      input[type="text"],textarea {
        background-color: #ecf6fb;
      }
      &[name="ques1"] {
        input[type="submit"] {
          background-color: #2a3b73;
        }
      }
      &[name="ques2"] {
        input[type="submit"] {
          color: #2a3b73;
          background-color: #ecf6fb;
        }
      }
      .aspform_button {
        input[type="submit"] {
          background-color: #2a3b73;
        }
      }
    }
    .pager {
      li {
        a {
          color: #2a3b73;
        }
        span {
          background-color: #2a3b73;
        }
      }
    }
  }
}