:root {
  --custom1-textColor1: #6ed8db;
  --custom1-textColor2: #2a3b73;
  --custom1-textColor3: #4c5e94;
  --custom1-textColor4: #2a3b73;
  --custom1-textColor5: #4c5e94;
  --custom1-textColor6: #fff;
  --custom1-textColor7: #6ed8db;
  --custom1-textColor8: #fff;
  --custom1-bgColor1: #6ec5cb;
  --custom1-bgColor2: #abe8ef;
  --custom1-bgColor2OnlySp: #abe8ef;
  --custom1-bgColor3: #ecf6fb;
  --custom1-bgColor4: #939fca;
  --custom1-bgColor5: #6ed8db;
  --custom1-bgColor6: #2a3b73;
  --custom1-bgColor7: #fff;
  --custom1-bgColor7OnlySp: #fff;
  --custom1-bgColor8: #6ed8db;
  --custom1-bgColor9: #2a3b73;
  --custom1-bgColor10: #ecf6fb;
  --custom1-borderColor1: #4c5e94;
  --custom1-borderColor2: #ecf6fb;
  --custom1-borderColor3: #4c5e94;
  --custom1-buttonBgColor1: #2a3b73;
  --custom1-buttonBgColor2: #ecf6fb;
  --custom1-buttonBgColor3: #734a2a;
  --custom1-dropShadow1: 0 0 20px 0 rgba(42, 59, 115, 0.4);
  --custom1-dropShadow2: 0 0 20px 0 rgba(42, 59, 115, 0.1);
  --custom1-dropShadow3: 0 0 60px 0 rgba(42, 59, 115, 0.2);

  --custom2-textColor1: #fff;
  --custom2-textColor2: #000;
  --custom2-textColor3: #fff;
  --custom2-textColor4: #fff;
  --custom2-textColor5: #000;
  --custom2-textColor6: #000;
  --custom2-textColor7: #000;
  --custom2-textColor8: #fff;
  --custom2-bgColor1: #000;
  --custom2-bgColor2: #000;
  --custom2-bgColor2OnlySp: #000;
  --custom2-bgColor3: #000;
  --custom2-bgColor4: #000;
  --custom2-bgColor5: #000;
  --custom2-bgColor6: #2a3b73;
  --custom2-bgColor7: #000;
  --custom2-bgColor8: #fff;
  --custom2-bgColor9: #ccc;
  --custom2-bgColor10: #fff;
  --custom2-borderColor1: #000;
  --custom2-borderColor2: #000;
  --custom2-borderColor3: #fff;
  --custom2-buttonBgColor1: #2a3b73;
  --custom2-buttonBgColor2: #fff;
  --custom2-buttonBgColor3: #2a3b73;
  --custom2-dropShadow1: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  --custom2-dropShadow2: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  --custom2-dropShadow3: 0 0 60px 0 rgba(0, 0, 0, 0.2);
}
$customLength: 2;

/* 変数設定 */
body {
@for $i from 1 through $customLength {
    &[data-color="#{$i}"] {
      background-color: var(--custom#{$i}-bgColor5);
      .-textColor1 {
        color: var(--custom#{$i}-textColor1);
      }
      .-textColor2 {
        color: var(--custom#{$i}-textColor2);
        stroke: var(--custom#{$i}-textColor2);
      }
      .-textColor3 {
        color: var(--custom#{$i}-textColor3);
      }
      .-textColor4 {
        color: var(--custom#{$i}-textColor4);
      }
      .-textColor5 {
        color: var(--custom#{$i}-textColor5);
      }
      .-textColor6 {
        color: var(--custom#{$i}-textColor6);
      }
      .-textColor7 {
        color: var(--custom#{$i}-textColor7);
      }
      .-textColor8 {
        color: var(--custom#{$i}-textColor8);
      }
      .-borderColor1 {
        border-color: var(--custom#{$i}-borderColor1);
      }
      .-borderColor2 {
        border-color: var(--custom#{$i}-borderColor2);
      }
      .-borderColor3 {
        border-color: var(--custom#{$i}-borderColor3);
      }
      .-bgColor1 {
        background-color: var(--custom#{$i}-bgColor1);
      }
      .-bgColor2 {
        background-color: var(--custom#{$i}-bgColor2);
      }
      .-bgColor2OnlySp {
        @media (--sp) {
          background-color: var(--custom#{$i}-bgColor2OnlySp);
        }
      }
      .-bgColor3 {
        background-color: var(--custom#{$i}-bgColor3);
      }
      .-bgColor4 {
        background-color: var(--custom#{$i}-bgColor4);
      }
      .-bgColor5 {
        background-color: var(--custom#{$i}-bgColor5);
      }
      .-bgColor6 {
        background-color: var(--custom#{$i}-bgColor6);
      }
      .-bgColor7 {
        background-color: var(--custom#{$i}-bgColor7) !important;
      }
      .-bgColor7OnlySp {
		@media (--sp) {
		  background-color: var(--custom#{$i}-bgColor7);
		}
      }
      .-bgColor8 {
        background-color: var(--custom#{$i}-bgColor8);
      }
      .-bgColor9 {
        background-color: var(--custom#{$i}-bgColor9);
      }
      .-bgColor10 {
        background-color: var(--custom#{$i}-bgColor10);
      }
      .-dropshadow1 {
        box-shadow: var(--custom#{$i}-dropShadow1);
      }
      .-dropshadow2 {
        box-shadow: var(--custom#{$i}-dropShadow2);
      }
      .-dropshadow3 {
        box-shadow: var(--custom#{$i}-dropShadow3);
      }

      .base--main,
      .form__base {
        background-color: var(--custom#{$i}-bgColor3);
      }

      .base--main {
        box-shadow: var(--custom#{$i}-dropShadow1);
      }

      .button {
        background-color: var(--custom#{$i}-buttonBgColor1);
        &.button--color2 {
          background-color: var(--custom#{$i}-buttonBgColor2);
        }
        &.button--color3 {
          background-color: var(--custom#{$i}-buttonBgColor3);
        }
      }

      .date {
        background-color: var(--custom#{$i}-bgColor6);
      }

      .sitesupport {
        background-color: var(--custom#{$i}-bgColor8);
        .sitesupport-toggle {
          color: var(--custom#{$i}-textColor6);
          span {
            &::before,
            &::after {
              background-color: var(--custom#{$i}-bgColor7);
            }
          }
        }
        .sitesupport-list {
          .sitesupport__items {
            .sitesupport__items-item {
              a {
                color: var(--custom#{$i}-textColor6);
              }
            }
          }
        }
      }

      .social {
        .social__items {
          .social__items-item {
            a {
              background-color: var(--custom#{$i}-bgColor8);
              i {
                color: var(--custom#{$i}-textColor6);
              }
            }
          }
        }
      }

      .pagetop {
        .pagetop__icon {
          .cls-2 {
            color: var(--custom#{$i}-textColor1);
          }
        }
        .pagetop__text {
          color: var(--custom#{$i}-textColor1);
        }
      }

      .slick-dots li {
        button {
          background-color: var(--custom#{$i}-bgColor6);
        }
      }

      /* radioプレイヤー */
      /* シークバー(全体) */
      .radio-player .bc-player-default_default .vjs-progress-holder::before {
        background: var(--custom#{$i}-bgColor4);
      }

      /* シークバー(プレイ時間カラー) */
      .radio-player .bc-player-default_default .vjs-play-progress,
      .bc-player-default_default .vjs-volume-level {
          background-color: var(--custom#{$i}-bgColor9);
      }

      /* シークバー(ロードカラー) */
      .radio-player .bc-player-default_default .vjs-load-progress {
        background-color: var(--custom#{$i}-bgColor9);
      }

      /* CMSで展開される箇所 */
      form {
        input[type="text"],textarea {
          background-color: var(--custom#{$i}-bgColor10);
          border: 1px solid var(--custom#{$i}-borderColor2);
        }
        &[name="ques1"] {
          input[type="submit"] {
            background-color: var(--custom#{$i}-buttonBgColor1);
          }
        }
        &[name="ques2"] {
          input[type="submit"] {
            color: var(--custom#{$i}-textColor2);
            background-color: var(--custom#{$i}-buttonBgColor2);
            border: 1px solid var(--custom#{$i}-borderColor2);
          }
        }
        .aspform_button {
          input[type="submit"] {
            background-color: var(--custom#{$i}-buttonBgColor1);
          }
        }
      }
      .pager {
        li {
          a {
            color: var(--custom#{$i}-textColor4);
          }
          span {
            background-color: var(--custom#{$i}-bgColor6);
          }
        }
      }

      /* favorite */
      .-favorite {
        .select form {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			span {
				width: 48%;
				margin-bottom: 3.9%;
				@media (--sp) {
					width: 100%;
					margin-bottom: 6.85%;
				}
				input {
					visibility: hidden;
				}
			}
			span:nth-child(odd) {
				margin-right: auto;
				@media (--sp) {
					margin-right: 0;
				}
			}
			span:nth-child(even) {
				margin-left: auto;
				@media (--sp) {
					margin-left: 0;
				}
			}
			span:last-child {
				@media (--sp) {
					margin-bottom: 0;
				}
			}
			.recommend-select__inner {
				display: flex;
				background-color: var(--custom#{$i}-bgColor7);
				border-radius: 5px;
				margin: 3px;
				box-shadow: var(--custom#{$i}-dropShadow2);
				.recommend-select__icon {
					width: 30%;
					@media (--sp) {
						width: 27%;
					}
					.recommend-select__icon-in {
						width: 100%;
						img {
							max-width: 100%;
						}
					}
				}
				.recommend-select__info {
					position: relative;
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: 70%;
					padding: 0 16% 0 6%;
					color: var(--custom#{$i}-textColor4);
					@media (--sp) {
						width: 73%;
					}
					.name, .name-en {
						font-size: 22px;
						@media (--sp) {
							font-size: 2.93vw;
						}
					}
				}
			}
			input[type="radio"] + label .recommend-select__info::after,input[type="radio"] + label .recommend-select__info::before {
				position: absolute;
				content: '';
				top: 50%;
				right: 20px;
				width: 40px;
				height: 40px;
				margin: -20px 0 0 2px;
				background-color: var(--custom#{$i}-bgColor7);
				border: 2px solid var(--custom#{$i}-borderColor3);
				border-radius: 50%;
			}
			input[type="radio"]:checked + label .recommend-select__info::after {
				position: absolute;
				content: '';
				top: 50%;
				right: 30px;
				width: 20px;
				height: 20px;
				margin: -10px 0 0 2px;
				border: 2px solid var(--custom#{$i}-borderColor1);
				border-radius: 50%;
				background-color: var(--custom#{$i}-bgColor6);
				padding: 5px;
			}
			input[type="radio"]:checked + label .recommend-select__inner {
				border: 3px solid var(--custom#{$i}-borderColor1);
				margin: 0;
			}

			@media (--not-sp) {
				margin-top: 50px;
			}

			@media (--sp) {
				padding-top: 13.3vw;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			& > div {
				display: inline-flex;
				width: 37.143%;
				max-width: 230px;
				padding: 1.64% 0;
				margin: 0 3.52%;
				background-color: var(--custom#{$i}-buttonBgColor1);
				box-shadow: var(--custom#{$i}-dropShadow2);
				border-radius: 5px;
				&:nth-of-type(2) {
					margin-bottom: 0;
					background-color: #fff;
					> * {
						color: var(--custom#{$i}-textColor2);
					}
					a {
						text-decoration: none;
					}
				}
				@media (--not-sp) {
					margin-top: 50px;
				}
				@media (--sp) {
					width: 42.6vw;
					max-width: 320px;
					margin-bottom: 6.67vw;
					font-size: 3.73vw;
					padding: 2.67vw 0;
					&:nth-of-type(2) {
						margin-bottom: 0;
					}
				}
				& > div, & > span {
					color: #fff;
					display: flex;
					align-items: center;
					justify-content: center;
					font-family: var(--fontMontserrat);
					text-decoration: none;
					// border-radius: 5px;
					font-size: 24px;
					border: none;
					cursor: pointer;
					margin: auto;
					@media (--not-sp) {
						letter-spacing: .05em;
					  }

					@media (--sp) {
						font-size: 3.73vw;
					}
				}
			}

        }

        .confirm form {
		//   background-color: #ccc;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		button {
			background-color: transparent;
			border: none;
			cursor: pointer;
			outline: none;
			padding: 0;
			appearance: none;
		}
		@media (--sp) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		@media (--sp) {
			padding-top: 13.3vw;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		& > div {
			display: inline-flex;
			width: 37.143%;
			max-width: 230px;
			padding: 1.64% 0;
			margin: 0 3.52%;
			background-color: var(--custom#{$i}-buttonBgColor1);
			box-shadow: var(--custom#{$i}-dropShadow2);
			border-radius: 5px;
			&:nth-of-type(2) {
				margin-bottom: 0;
				background-color: var(--custom#{$i}-buttonBgColor2);
				> * {
					color: var(--custom#{$i}-textColor2);
				}
				a {
					text-decoration: none;
				}
			}
			@media (--not-sp) {
				margin-top: 50px;
			}

			@media (--sp) {
				width: 42.6vw;
				max-width: 320px;
				margin-bottom: 6.67vw;
				font-size: 3.73vw;
				padding: 2.67vw 0;
				&:nth-of-type(2) {
					margin-bottom: 0;
				}
			}
			& > div, & > span, & > button {
				color: #fff;
				display: flex;
				align-items: center;
				justify-content: center;
				font-family: var(--fontMontserrat);
				text-decoration: none;
				// border-radius: 5px;
				font-size: 24px;
				border: none;
				cursor: pointer;
				margin: auto;
				@media (--not-sp) {
					letter-spacing: .05em;
				  }

				@media (--sp) {
					font-size: 3.73vw;
				}
			}
		}
        }
      }
    }
  }
}