@import "libraries-frontend-framelunch/css/_variables.css";

.row {
  display: flex;
  flex-wrap: wrap;
  @media (--not-sp) {
    margin-right: -15px;
    margin-left: -15px;
  }

  @media (--sp) {
    flex-direction: column;
  }
}

.col4,
.col6,
.col8 {
  @media (--not-sp) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.col4 {
  @media (--not-sp) {
    width: calc(100% / 3);
  }
}

.col6 {
  @media (--not-sp) {
    width: 50%;
  }
}

.col8 {
  @media (--not-sp) {
    width: calc(100% / 1.5);
  }
}