@import "libraries-frontend-framelunch/css/_variables.css";

.row {
  @media (--not-sp) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
}

.col4,
.col6,
.col8,
.col12 {
  @media (--not-sp) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (--sp) {
    margin-bottom: 1.5rem;
  }
}

.col4 {
  @media (--not-sp) {
    width: calc(100% / 3);
  }
}

.col6 {
  @media (--not-sp) {
    width: 50%;
  }
}

.col8 {
  @media (--not-sp) {
    width: calc(100% / 1.5);
  }
}

.col12 {
 @media (--not-sp) {
 	width: 100%
 }
}