.article {
  margin-left: auto;
  margin-right: auto;
  @media (--not-sp) {
    max-width: 755px;
    width: calc(755 / 1140 * 100%);
  }
  .article__cover {
    position: relative;
    .article__cover-image {
      border-radius: var(--borderRadius);
    }
    .article__cover-date {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .article__body {
    @media (--not-sp) {
      padding: 70px 25px 0;
    }

    @media (--sp) {
      padding-top: 20px;
      background-color: #fff;
    }

    .article-title {
      font-size: 24px;
      font-family: var(--fontNotoSansJP);
      color: var(--color4);
      font-weight: 600;
      line-height: 1.4;

      @media (--sp) {
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    .article-text {
      font-size: 18px;
      font-family: var(--fontNotoSansJP);
      color: var(--color4);
      line-height: 1.6;
      margin-top: 30px;

      @media (--sp) {
        font-size: 12px;
        margin-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    .article-photos {
      p {
        margin-top: 50px;
        border-radius: var(--borderRadius);
        overflow: hidden;

        @media (--sp) {
          margin-top: 20px;
        }
      }
    }
  }

  .article__foot {
    text-align: center;
    @media (--not-sp) {
      margin-top: 100px;
    }

    @media (--sp) {
      margin-top: 25px;
    }

      .article__foot-bt {
        display: inline-flex;
        padding-left: 20px;
        padding-right: 20px;
      }
  }
}