.article {
  max-width: 755px;
  width: calc(755 / 1140 * 100%);
  margin-left: auto;
  margin-right: auto;
  .article__cover {
    position: relative;
    .article__cover-date {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .article__body {
    padding: 70px 25px 0;

    .article-title {
      font-size: 24px;
      font-family: var(--fontNotoSansJP);
      color: var(--color4);
      font-weight: 600;
      line-height: 1.4;
    }

    .article-text {
      font-size: 18px;
      font-family: var(--fontNotoSansJP);
      color: var(--color4);
      line-height: 1.6;
      margin-top: 30px;
    }

    .article-photos {
      p {
        margin-top: 50px;
      }
    }
  }

  .article__foot {
    margin-top: 100px;
    text-align: center;

      .article__foot-bt {
        display: inline-flex;
        padding-left: 20px;
        padding-right: 20px;
      }
  }
}