<div class="article">
  <div class="article-inner -dropshadow3">
    <div class="article__head">
      <p class="date article__head-date">2020.01.01</p>
      <div class="article__head__tags">
        <p class="article__head__tags-tag -textColor3 -borderColor1">MEDIA</p>
        <p class="article__head__tags-time -textColor3">22:00-23:00</p>
      </div>
    </div>
    <div class="article__body">
      <p class="article-title -textColor2">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</p>
      <p class="article-text -textColor2">テキストテテキストテキストテキストテキストキスト</p>
    </div>
  </div>
  <div class="article__foot">
    <a class="button article__foot-bt" href="">BACK TOP</a>
  </div>
</div>