.qrcode {
  margin-top: 50px;
  background-color: #fff;
  padding: 60px;
  border-radius: var(--borderRadius);
  overflow: hidden;

  @media (--sp) {
    margin-top: 25px;
    padding: 30px 10px;
  }

  .qrcode-title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    font-family: var(--fontMontserrat);
    letter-spacing: .1em;

    @media (--sp) {
      font-size: 24px;
    }
  }

  .qrcode-image {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
  }

}