<div class="article">
  <div class="article__body">
    <p class="article-title">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</p>
    <div class="article-photos">
      <p><img src="<%- conf.image %>/dummy/photo_image.jpg" alt=""></p>
	</div>
	<div class="button article-button">
		PUSH
	</div>
	<div class="article-text">
		テキストテテキストテキストテキストテキストテテキストテキストテキストテキストテテキストテキストテキスト
	</div>
    <%#- include('../../parts/tag/tag.ejs', { conf, type: "foot" }) %>
  </div>
  <!-- <div class="article__foot">
    <a class="button article__foot-bt" href="/photo.html">BACK</a>
  </div> -->
</div>