.menu {
  .menu__toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 90px;
    height: 90px;
    background-color: var(--color2);
    border: none;
    z-index: 20;

    @media (--sp) {
      width: 45px;
      height: 45px;
    }

    span {
      position: absolute;
      left: 0;
      right: 0;
      width: 60px;
      margin: 0 auto;
      background-color: #fff;
      height: 3px;
      display: inline-block;
      transition-property: transform, opacity;
      transition-duration: .5s;

      @media (--sp) {
        height: 2px;
        width: 30px;
      }

      &:nth-of-type(1) {
        top: 24px;

        @media (--sp) {
          top: 12px;
        }
      }

      &:nth-of-type(2) {
        top: 44px;

        @media (--sp) {
          top: 22px;
        }
      }

      &:nth-of-type(3) {
        top: 64px;

        @media (--sp) {
          top: 32px;
        }
      }
    }
  }

  .menu__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(.-show) {
      visibility: hidden;
      opacity: 0;
    }

    .container {
      width: calc(1140 / 1440 * 100%);
      display: flex;
      align-items: center;
      justify-content: space-between;

      .menu-list {
        flex: 1;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: -40px;
        .menu-list__block {
          padding-right: 60px;
          .menu-list__block-item {
            margin-top: 40px;
            a {
              font-size: 32px;
              color: #fff;
              font-family: var(--fontMontserrat);
              text-decoration: none;
            }
          }
        }
      }

      .menu-buttons {
        width: calc(365 / 1140 * 100%);
        padding: 40px 20px 30px;
        background-color: var(--color3);

        .menu-buttons__head {
          display: flex;
          justify-content: space-between;
          a {
            width: calc(50% - 15px);
          }
        }

        .menu-buttons__banner {
          margin-top: 30px;
          a {
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}