<div class="checkin -dropshadow2">
  <h3 class="checkin-title -textColor2">CHACK IN</h3>
  <div class="checkin-list">
    <ul class="checkin__items">
      <% for (var i = 0; i < 2; i++) { %>
      <li class="checkin__items-item">
        <div class="checkin__items-inner">
          <img src="<%- conf.image %>/dummy/favorite.jpg" alt="">
        </div>
      </li>
      <% } %>
    </ul>
  </div>
</div>