.checkin {
  margin-top: 50px;
  background-color: #fff;
  padding: 60px 0;
  border-radius: var(--borderRadius);
  overflow: hidden;

  @media (--sp) {
    margin-top: 25px;
    padding: 30px 10px;
  }

  .checkin-title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    font-family: var(--fontMontserrat);
    letter-spacing: .1em;

    @media (--sp) {
      font-size: 24px;
    }
  }
  .checkin-list {
    margin-top: 40px;
    overflow: hidden;
    .checkin__items {
      width: 636px;
      background-image: url("../../../images/mypage/checkin_bg.png");
      background-repeat: no-repeat;
      background-size: 100% auto;
      display: flex;
      margin: 0 auto;

      @media (--tb-h) {
        width: 550px;
      }

      @media (--tb) {
        width: 350px;
      }

      @media (--sp) {
        width: 280px;
      }

      .checkin__items-item {
        width: 200px;

        @media (--tb-h) {
          width: 173px;
        }

        @media (--tb) {
          width: 110px;
        }

        @media (--sp) {
          width: 88px;
        }

        &:not(:first-of-type) {
          margin-left: 18px;

          @media (--tb-h) {
            margin-left: 16px;
          }

          @media (--tb) {
            margin-left: 10px;
          }

          @media (--sp) {
            margin-left: 8px;
          }
        }
      }
    }
  }
}