.checkin {
  margin-top: 50px;
  background-color: #fff;
  padding: 60px;
  border-radius: var(--borderRadius);
  overflow: hidden;

  @media (--sp) {
    margin-top: 25px;
    padding: 30px 10px;
  }

  .checkin-title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    font-family: var(--fontMontserrat);
    letter-spacing: .1em;

    @media (--sp) {
      font-size: 24px;
    }
  }
  .checkin-list {
    margin-top: 40px;
    overflow: hidden;
    .checkin__items {
      display: flex;
      margin-left: -25px;

      @media (--sp) {
        margin-left: -15px;
      }
      .checkin__items-item {
        margin-left: 25px;

        @media (--sp) {
          margin-left: 15px;
        }
      }
    }
  }
}