.operation {
  margin-top: 60px;
  display: flex;
  .button {
    width: 228px;
    margin-right: 40px;
    &.button--back {
      color: var(--textColor2);
      background-color: var(--bgColor3);
    }
  }
}
