.pagination {
  padding-bottom: 80px;
  padding-top: 10px;
  text-align: center;

  @media (--sp) {
    padding-bottom: 40px;
  }
  .pagenation__buttons {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .pagination-backtop {
    width: 160px;
    margin: 0 auto;
    @media (--sp) {
      width: 120px;
    }
  }

  .pagination-prev,
  .pagination-next {
    border: none;
    background: none;
    font-family: var(--fontMontserrat);
    font-size: 18px;
    letter-spacing: .05em;
    cursor: pointer;
    outline: none;

    @media (--sp) {
      font-size: 15px;
    }
  }

  .pagination-prev {
    margin-right: 20px;

    @media (--sp) {
      margin-right: 10px;
    }
  }

  .pagination-next {
    margin-left: 20px;

    @media (--sp) {
      margin-left: 10px;
    }
  }
}