<div class="pagination">
  <div class="pagenation__buttons">
    <button class="pagination-prev -textColor4">← PREV</button>
    <a href="/" class="button pagination-backtop">BACK TOP</a>
    <button class="pagination-next -textColor4">NEXT →</button>
  </div>
</div>