<div class="pagination">
  <div class="pagenation__buttons">
    <button class="pagination-prev">← PREV</button>
    <button class="button pagination-backtop">BACK TOP</button>
    <button class="pagination-next">NEXT →</button>
  </div>
</div>