.pagination {
  padding-bottom: 80px;
  padding-top: 10px;
  text-align: center;
  .pagenation__buttons {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .pagination-backtop {
    width: 160px;
    margin: 0 auto;
  }

  .pagination-prev,
  .pagination-next {
    border: none;
    background: none;
    font-family: var(--fontNotoSansJP);
    font-size: 18px;
    color: var(--color4);
    letter-spacing: .05em;
  }

  .pagination-prev {
    margin-right: 20px;
  }

  .pagination-next {
    margin-left: 20px;
  }
}