<div class="tag tag--<%= type %>">
  <ul class="tags">
  <li class="tags-item"><span class="-textColor3 -borderColor1">NEWS</span></li>
  <li class="tags-item"><span class="-textColor3 -borderColor1">MEDIA</span></li>
  <li class="tags-item"><span class="-textColor3 -borderColor1">SAMPLE</span></li>
  </ul>
</div>