<div class="tag tag--<%= type %>">
  <ul class="tags">
  <li class="tags-item"><span>NEWS</span></li>
  <li class="tags-item"><span>MEDIA</span></li>
  <li class="tags-item"><span>SAMPLE</span></li>
  </ul>
</div>