<div class="tag tag--<%= type %>">
  <ul class="tags">
  <li class="tags-item"><span class="-textColor3 -borderColor1 -bgColor7">NEWS</span></li>
  <li class="tags-item"><span class="-textColor3 -borderColor1 -bgColor7">MEDIA</span></li>
  <li class="tags-item"><span class="-textColor3 -borderColor1 -bgColor7">SAMPLE</span></li>
  </ul>
</div>