<div class="list">
  <div class="row">
    <%
      const list = [
        { date: "2020.01.01", image: "photo_image.jpg", tags: [ "NEWS", "MEDIA", "SAMPLE" ], text: "テキストテキストテキストテキストテキストテキストテキストテキスト" },
        { date: "2020.01.01", image: "photo_image.jpg", tags: [ "NEWS", "MEDIA", "SAMPLE" ], text: "テキストテキストテキストテキストテキストテキストテキストテキスト" },
        { date: "2020.01.01", image: "photo_image.jpg", tags: [ "NEWS", "MEDIA", "SAMPLE" ], text: "テキストテキストテキストテキストテキストテキストテキストテキスト" },
        { date: "2020.01.01", image: "photo_image.jpg", tags: [ "NEWS", "MEDIA", "SAMPLE" ], text: "テキストテキストテキストテキストテキストテキストテキストテキスト" },
        { date: "2020.01.01", image: "photo_image.jpg", tags: [ "NEWS", "MEDIA", "SAMPLE" ], text: "テキストテキストテキストテキストテキストテキストテキストテキスト" },
        { date: "2020.01.01", image: "photo_image.jpg", tags: [ "NEWS", "MEDIA", "SAMPLE" ], text: "テキストテキストテキストテキストテキストテキストテキストテキスト" },
      ]
    %>
    <% list.forEach(function (value, key) { _%>
    <div class="col4 item">
      <a class="item-inner -dropshadow1" href="/movie_detail.html">
        <p class="date item-date">2020.01.01</p>
        <div class="item__cover">
          <p class="item__cover-image"><img src="<%- conf.image %>/dummy/<%- value.image %>" alt=""></p>
          <div class="item__cover-play"><img src="<%- conf.image %>/common/icon_play.png" alt=""></div>
        </div>
        <div class="item__body">
          <%- include('../../parts/tag/tag.ejs', { conf, type: "normal" }) %>
          <p class="item-text -textColor3">テキストテテキストテキストテキストテキストキスト</p>
        </div>
      </a>
    </div>
    <% }); _%>
  </div>
</div>