.list {
  .item {
    margin-bottom: 40px;

    @media (--sp) {
      margin-bottom: 15px;
    }
    .item-inner {
      display: block;
      position: relative;
      text-decoration: none;
      box-shadow: var(--dropShadow);
      border-radius: var(--borderRadius);
      overflow: hidden;
      .item-date {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 14px;
        height: 33px;
        z-index: 1;
      }
      .item__cover {
        position: relative;

        .item__cover-play {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: calc(80 / 362 * 100%);

          @media (--sp) {
            width: calc(160 / 760 * 100%);
          }
        }
      }
      .item__body {
        background-color: #fff;
        padding: 15px;

        .item-text {
          font-size: 14px;
          color: var(--textColor2);
          font-family: var(--fontNotoSansJP);
          margin-top: 10px;
          line-height: 1.4;

          @media (--sp) {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.pagination {
  @media (--not-sp) {
    padding-top: 70px;
    padding-bottom: 0;
  }
  @media (--sp) {
    padding-top: 35px;
  }
}