<div class="radio">
  <div class="radio-cover"><img src="<%- conf.image %>/<%= projectName %>/radio_img.jpg" alt=""></div>
  <div class="radio-body">
    <p class="radio-title">タイトルタイトルタイトル</p>
    <div class="radio__operation">
      <button class="radio__operation-prev">◀︎◀︎</button>
      <button class="radio__operation-toggle"></button>
      <button class="radio__operation-next">▶︎▶︎</button>
    </div>
    <div class="radio-player">
      <video id="js-radio" data-account="4504957038001" data-player="default" data-embed="default" controls="" data-video-id="6169767827001" data-playlist-id="" data-application-id=""></video>
    </div>
  </div>
</div>