<div class="article">
  <p class="date article-date">2020.01.01</p>
  <p class="article-title">テキストテキストテキストテキストテキストテキスト</p>
  <div class="article__cover">
    <div class="article__cover-embed article__cover-embed--video">
      <video data-account="<%= conf.brightcove.accountId %>" data-player="default" data-embed="default" controls="" data-video-id="4504888373001" data-playlist-id="" data-application-id="" width="100%" height="100%"></video>
    </div>
  </div>
  <p class="article-text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
  <%- include('./_radio.ejs', { conf }) %>
  <a href="/radio.html" class="button article-button">BACK TOP</a>
</div>