.article {
  padding-bottom: 70px;
}

.article-date {
  width: 120px;
  margin: 40px auto 0;
  border-radius: 5px;

  @media (--sp) {
    margin-top: 0;
  }
}

.article-title {
  font-size: 24px;
  text-align: center;
  color: var(--textColor2);
  margin-top: 40px;
  font-weight: 600;

  @media (--sp) {
    font-size: 12px;
    margin-top: 20px;
  }
}

.article-image {
  margin-top: 50px;

  @media (--sp) {
    margin-top: 20px;
  }
}

.article-text {
  color: var(--textColor2);
  line-height: 1.6;
  margin: 50px auto 0;

  @media (--not-sp) {
    font-size: 18px;
    width: calc(748 / 1140 * 100%);
    max-width: 748px;
  }

  @media (--sp) {
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
  }
}

.article-button {
  margin: 50px auto 0;
  width: 160px;
}