.article {
  padding-bottom: 70px;
}

.article-date {
  width: 120px;
  margin: 40px auto;
  border-radius: 5px;
}

.article-title {
  font-size: 24px;
  text-align: center;
  color: var(--color4);
  margin-top: 40px;
}

.article-image {
  margin-top: 50px;
}

.article-text {
  margin: 50px auto 0;
  color: var(--color4);
  font-size: 18px;
  line-height: 1.6;
  width: calc(748 / 1140 * 100%);
  max-width: 748px;
}

.article-button {
  margin: 100px auto 0;
  width: 160px;
}