<div class="article">
  <div class="inner">
    <p class="date article-date">2020.01.01</p>
    <p class="article-title">テキストテキストテキストテキストテキストテキスト</p>
  </div>
  <div class="article-image"><img src="<%- conf.image %>/dummy/blog_detail.jpg" alt=""></div>
  <div class="inner">
    <p class="article-text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
    <%- include('../../parts/tag/tag.ejs', { conf, type: "foot" }) %>
    <a href="/blog.html" class="button article-button">BACK TOP</a>
  </div>
</div>