.category {
  background-color: #fff;
  .category-title {
    color: var(--color4);
    font-family: var(--fontMontserrat);
    letter-spacing: 0.05em;
  }

  .categor-list {
    overflow: hidden;
  }

  .category__items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-top: -20px;

    .category__items-list {
      margin-top: 20px;
      padding-left: 10px;
      a {
        color: var(--color6);
        font-family: var(--fontNotoSansJP);
        border: 1px solid var(--color6);
        border-radius: 20px;
        padding: 2px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
      }
    }
  }

  &.category--foot {
    padding: 50px 20px;

    .category-title {
      font-size: 28px;
    }

    .categor-list {
      margin-top: 30px;

      .category__items-list {
        a {
          font-size: 20px;
        }
      }
    }
  }

  &.category--sidebar {
    margin-top: 40px;
    padding: 0 15px 50px;

    .category-title {
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 24px;
    }

    .categor-list {
      .category__items-list {
        a {
          font-size: 20px;
        }
      }
    }
  }
}