<div class="category category--<%= place %>">
  <h3 class="category-title -textColor2">CATEGORY</h3>
  <div class="categor-list">
    <ul class="category__items">
      <li class="category__items-list"><a class="tag -textColor3 -borderColor1" href="">NEWS</a></li>
      <li class="category__items-list"><a class="tag -textColor3 -borderColor1" href="">MEDIA</a></li>
      <li class="category__items-list"><a class="tag -textColor3 -borderColor1" href="">NEWS</a></li>
      <li class="category__items-list"><a class="tag -textColor3 -borderColor1" href="">MEDIA</a></li>
    </ul>
  </div>
</div>