<div class="month month--<%= place %>">
  <h3 class="month-title">MONTH</h3>
  <div class="month-list">
    <ul class="month__items">
      <li class="month__items-list"><a href="">2020.01</a></li>
      <li class="month__items-list"><a href="">2020.01</a></li>
      <li class="month__items-list"><a href="">2020.01</a></li>
      <li class="month__items-list"><a href="">2020.01</a></li>
      <li class="month__items-list"><a href="">2020.01</a></li>
    </ul>
  </div>
</div>