<div class="list">
  <div class="row">
    <% for (var i = 0; i < 10; i++) { %>
    <div class="col6 item">
      <div class="item-inner">
        <p class="date item-date">2020.01.01</p>
        <div class="item-image"><img src="<%- conf.image %>/<%= projectName %>/blog.jpg" alt=""></div>
        <div class="item-body">
          <ul class="item__tags">
            <li class="item__tags-tag">NEWS</li>
            <li class="item__tags-tag">MEDIA</li>
            <li class="item__tags-tag">SAMPLE</li>
          </ul>
          <p class="item-text">テキストテテキストテキストテキストテキストキスト</p>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>