.list {
  .item {
    margin-bottom: 40px;

    @media (--sp) {
      margin-bottom: 20px;
    }
  }

  .item-inner {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    position: relative;
    box-shadow: var(--dropShadowL);
    text-decoration: none;
    .item-date {
      position: absolute;
      top: 0;
      left: 0;
    }
    .item-image {
      width: calc(170 / 560 * 100%);
    }
    .item-body {
      flex: 1;
      padding: 15px;
    }

    .item-text {
      margin-top: 15px;
      color: var(--color4);
      font-family: var(--fontNotoSansJP);
      font-size: 18px;
      line-height: 1.6;

      @media (--sp) {
        font-size: 12px;
        margin-top: 10px;
      }
    }
  }
}