.fixedCard {
  position: fixed;
  left: 0;
  background-color: var(--color4);
  display: flex;
  align-items: center;
  color: #fff;
  z-index: 10;

  @media (--not-sp) {
    bottom: 100px;
    width: 494px;
    padding: 20px 40px 20px 0;
  }

  @media (--sp) {
    bottom: 0;
    padding: 15px 40px 15px 0;
  }

  .fixedCard-close {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    outline: none;
    cursor: pointer;
    span {
      background-color: #fff;
      width: 1px;
      height: 20px;
      top: 4px;
      position: absolute;
      right: 14px;

      &:nth-of-type(1) {
        transform:rotate(45deg);
      }

      &:nth-of-type(2) {
        transform:rotate(-45deg);
      }
    }
  }

  .fixedCard-title {
    font-size: 24px;
    font-family: var(--fontMontserrat);
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: .1em;

    @media (--sp) {
      font-size: 12px;
    }
  }

  .fixedCard-text {
    font-size: 18px;
    flex: 1;
    line-height: 1.4;

    @media (--sp) {
      font-size: 10px;
      line-height: 1.8;
    }
  }
}