<div class="article">
  <div class="article__cover">
    <div class="article__cover-image"><img src="<%- conf.image %>/<%= projectName %>/top/news_cover.jpg" alt=""></div>
    <p class="date article__cover-date">2020.01.01</p>
  </div>
  <div class="article__wrapper">
    <div class="article__body">
      <div class="article__item">
        <p class="article__title">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</p>
        <p class="article__text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br><a href="">リンクリンク</a></p>
      </div>
      <div class="article__item">
        <p class="article__title">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</p>
        <p class="article__text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br><a href="">リンクリンク</a></p>
      </div>
      <div class="article__item">
        <p class="article__title">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</p>
        <p class="article__text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br><a href="">リンクリンク</a></p>
      </div>
    </div>
    <ul class="article__tags">
      <li class="article__tags-item"><a href="">NEWS</a></li>
      <li class="article__tags-item"><a href="">MEDIA</a></li>
    </ul>
  </div>
</div>