<div class="article">
  <div class="article__body">
	<div class="article-image">
		<a href="">
			<img src="<%- conf.image %>/dummy/chackin.jpg" alt="">
		</a>
	</div>
	<div class="article-title">
		テキストテキストテキスト
	</div>
	<div class="article-text col12">
		テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
	</div>
	<div class="article__btn">
		<a class="button article__btn-bt" href="/">CHACK IN</a>
	</div>
	<div class="checkin-list">
		<ul class="checkin__items">
		  <li class="checkin__items-item">
			<div class="checkin__items-inner">
			  <img src="./images/dummy/favorite.jpg" alt="">
			</div>
		  </li>
		  <li class="checkin__items-item">
			<div class="checkin__items-inner">
			  <img src="./images/dummy/favorite.jpg" alt="">
			</div>
		  </li>
		  <li class="checkin__items-item">
			<div class="checkin__items-inner">
			  <!-- <img src="./images/dummy/favorite.jpg" alt=""> -->
			</div>
		  </li>
		</ul>
	</div>
  </div>
  <div class="article__foot">
	  <a href="" class="button article__back -hidden-sp">
		  BACK TOP
	  </a>
	  <a href="" class="button article__back -hidden-pc">
		  BACK
	  </a>
  </div>
</div>