<div class="filter">
  <div class="row">
    <div class="col8">
      <%- include('../../parts/filter/category.ejs', { conf, place: "foot" }) %>
    </div>
    <div class="col4">
      <%- include('../../parts/filter/month.ejs', { conf, place: "foot" }) %>
    </div>
  </div>
</div>