<div class="head">
  <h2 class="head-title -textColor4">SCHEDULE</h2>
  <div class="head__operation">
    <button class="head__operation-prev -textColor4">←</button>
    <p class="head__operation-date -textColor4">2020.06</p>
    <button class="head__operation-next -textColor4">→</button>
  </div>
</div>