<div class="head">
  <h2 class="head-title">SCHEDULE</h2>
  <div class="head__operation">
    <button class="head__operation-prev">←</button>
    <p class="head__operation-date">2020.06</p>
    <button class="head__operation-prev">→</button>
  </div>
</div>