<div class="head">
  <h2 class="head-title -textColor2">SCHEDULE</h2>
  <div class="head__operation">
    <button class="head__operation-prev -textColor2">←</button>
    <p class="head__operation-date -textColor2">2020.06</p>
    <button class="head__operation-next -textColor2">→</button>
  </div>
</div>