.favorite {
  margin-top: 50px;
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: var(--dropShadowS);
  border-radius: var(--borderRadius);
  overflow: hidden;

  @media (--sp) {
    margin-top: 25px;
  }
  .favorite-title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    font-family: var(--fontMontserrat);
    color: var(--textColor1);
    letter-spacing: .1em;

    @media (--sp) {
      font-size: 24px;
    }
  }
  .favorite-list {
    margin-top: 40px;
    overflow: hidden;
    .favorite__items {
      display: flex;
      .favorite__items-item {
        padding-left: 15px;
        padding-right: 15px;

        @media (--sp) {
          padding-left: 7px;
          padding-right: 7px;
        }
        .favorite__items-inner {
          position: relative;
          .favorite__item-name {
            font-family: var(--fontMontserrat);
            font-size: 32px;
            font-weight: 600;
            color: var(--textColor1);
            letter-spacing: .1em;
            position: absolute;
            bottom: 5px;
            left: 5px;
            text-shadow: 1px 1px 0 #fff,
                         -1px 1px 0 #fff,
                         1px -1px 0 #fff,
                         -1px -1px 0 #fff;

            @media (--sp) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .slick-arrow {
    width: 54px;
    height: 54px;
    z-index: 1;
    @media (--sp) {
      width: 30px;
      height: 30px;
    }
    &::before {
      background-image: url("../../../images/temp/slide_arrow.png");
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      display: block;
      background-size: 100% auto;
    }
    &.slick-prev {
      &::before {
        transform: scale(-1, 1);
      }
      @media (--not-sp) {
        left: 70px;
      }
      @media (--sp) {
        left: 10px;
      }
    }
    &.slick-next {
      @media (--not-sp) {
        right: 70px;
      }
      @media (--sp) {
        right: 10px;
      }
    }
  }
}