<div class="favorite -dropshadow2">
  <h3 class="favorite-title -textColor2">FAVORITE</h3>
  <div class="favorite-list">
    <ul class="favorite__items">
      <li class="favorite__items-item">
        <div class="favorite__items-inner">
          <img src="<%- conf.image %>/dummy/favorite.jpg" alt="">
          <p class="favorite__item-name -textColor2">NAME</p>
        </div>
      </li>
      <li class="favorite__items-item">
        <div class="favorite__items-inner">
          <img src="<%- conf.image %>/dummy/favorite.jpg" alt="">
          <p class="favorite__item-name -textColor2">NAME</p>
        </div>
      </li>
      <li class="favorite__items-item">
        <div class="favorite__items-inner">
          <img src="<%- conf.image %>/dummy/favorite.jpg" alt="">
          <p class="favorite__item-name -textColor2">NAME</p>
        </div>
      </li>
    </ul>
  </div>
</div>