.article {
  max-width: 940px;
  width: calc(940 / 1140 * 100%);
  margin-left: auto;
  margin-right: auto;
  .article__cover {
    position: relative;
    box-shadow: var(--dropShadowL);
    border-radius: var(--borderRadius);
    overflow: hidden;

    .article__cover-play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(80 / 362 * 100%);
    }

    .article__cover-brightcove {
      position: relative;
      .article__cover-embed {
        padding-top: 56.25%;
        iframe {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .article__body {
    margin: 0 auto;

    @media (--not-sp) {
      padding-top: 70px;
      width: calc(550 / 940 * 100%);
      max-width: 550px;
    }

    @media (--tb) {
      width: auto;
      max-width: none;
    }

    @media (--sp) {
      padding: 20px 15px;
      background-color: #fff;
    }

    .article-title {
      font-size: 24px;
      font-family: var(--fontNotoSansJP);
      color: var(--color4);
      font-weight: 600;
      line-height: 1.4;

      @media (--sp) {
        font-size: 12px;
      }
    }

    .article-text {
      font-size: 18px;
      font-family: var(--fontNotoSansJP);
      color: var(--color4);
      line-height: 1.6;
      margin-top: 30px;

      @media (--sp) {
        font-size: 12px;
        margin-top: 15px;
      }
    }

    .tag {
      @media (--sp) {
        padding-bottom: 0;
      }
    }

    .article-photos {
      p {
        margin-top: 50px;
      }
    }
  }

  .article__foot {
    margin-top: 100px;
    text-align: center;

      .article__foot-bt {
        display: inline-flex;
        padding-left: 20px;
        padding-right: 20px;
      }
  }
}