<div class="article">
  <div class="article__cover -dropshadow3">
    <!-- <div class="article__cover-embed article__cover-embed--iframe">
      <iframe src="https://players.brightcove.net/<%= conf.brightcove.accountId %>/41e0553c-dbfe-4925-85ca-d23d82cf49a3_default/index.html?videoId=4504888373001" allowfullscreen="" allow="encrypted-media" style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></iframe>
    </div> -->
    <div class="article__cover-embed article__cover-embed--video">
      <video data-account="<%= conf.brightcove.accountId %>" data-player="default" data-embed="default" controls="" data-video-id="4504888373001" data-playlist-id="" data-application-id="" width="100%" height="100%"></video>
    </div>
  </div>
  <div class="article__body">
    <p class="article-title -textColor2">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</p>
    <p class="article-text -textColor2">テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
    <%- include('../../parts/tag/tag.ejs', { conf, type: "foot" }) %>
  </div>
</div>