<div class="article">
  <div class="article__cover">
    <p class="article__cover-image"><img src="<%- conf.image %>/<%= projectName %>/movie_image.png" alt=""></p>
    <div class="article__cover-play"><img src="<%- conf.image %>/common/icon_play.png" alt=""></div>
  </div>
  <div class="article__body">
    <p class="article-title">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</p>
    <p class="article-text">テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
  </div>
</div>