.fade {
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: .5s;

  &[data-fade-direction="bottom"] {
    transform: translateY(20px);
  }

  &[data-fade-direction="left"] {
    transform: translateX(-20px);
  }

  &.fade--start {
    opacity: 1;
    transform: none;
  }
}