.photo__list {
  .photo__item {
    margin-bottom: 40px;

    @media (--sp) {
      margin-bottom: 25px;
    }
    .photo-inner {
      display: block;
      position: relative;
      text-decoration: none;
      box-shadow: var(--dropShadowS);
      border-radius: var(--borderRadius);
      overflow: hidden;
      .photo__item-date {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 14px;
      }
      .photo__body {
        background-color: #fff;
        padding: 15px;
        .photo__item-text {
          font-size: 14px;
          color: var(--textColor3);
          font-family: var(--fontNotoSansJP);
          margin-top: 10px;
          line-height: 1.4;

          @media (--sp) {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.pagination {
  @media (--not-sp) {
    padding-top: 70px;
    padding-bottom: 0;
  }
}