<div class="photo__list">
  <div class="row">
    <%
      const list = [
        { date: "2020.01.01", image: "photo_image.jpg", tags: [ "NEWS", "MEDIA", "SAMPLE" ], text: "テキストテキストテキストテキストテキストテキストテキストテキスト" },
        { date: "2020.01.01", image: "photo_image.jpg", tags: [ "NEWS", "MEDIA", "SAMPLE" ], text: "テキストテキストテキストテキストテキストテキストテキストテキスト" },
        { date: "2020.01.01", image: "photo_image.jpg", tags: [ "NEWS", "MEDIA", "SAMPLE" ], text: "テキストテキストテキストテキストテキストテキストテキストテキスト" },
        { date: "2020.01.01", image: "photo_image.jpg", tags: [ "NEWS", "MEDIA", "SAMPLE" ], text: "テキストテキストテキストテキストテキストテキストテキストテキスト" },
        { date: "2020.01.01", image: "photo_image.jpg", tags: [ "NEWS", "MEDIA", "SAMPLE" ], text: "テキストテキストテキストテキストテキストテキストテキストテキスト" },
        { date: "2020.01.01", image: "photo_image.jpg", tags: [ "NEWS", "MEDIA", "SAMPLE" ], text: "テキストテキストテキストテキストテキストテキストテキストテキスト" },
      ]
    %>
    <% list.forEach(function (value, key) { _%>
    <div class="col4 photo__item">
      <a class="photo-inner -dropshadow2" href="/photo_detail.html">
        <p class="date photo__item-date">2020.01.01</p>
        <p class="photo__item-image"><img src="<%- conf.image %>/dummy/<%- value.image %>" alt=""></p>
        <div class="photo__body">
          <%- include('../../parts/tag/tag.ejs', { conf, type: "normal" }) %>
          <p class="photo__item-text -textColor3">テキストテテキストテキストテキストテキストキスト</p>
        </div>
      </a>
    </div>
    <% }); _%>
  </div>
</div>