.photo__list {
  margin-top: 80px;

  .photo__item {
    margin-bottom: 40px;
    .photo-inner {
      display: block;
      position: relative;
      text-decoration: none;
      .photo__item-date {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 14px;
        height: 33px;
      }
      .photo__body {
        background-color: #fff;
        padding: 15px;

        .photo__tags {
          display: flex;
          .photo__tags-item {
            color: var(--color6);
            font-family: var(--fontNotoSansJP);
            border: 1px solid var(--color6);
            border-radius: 20px;
            padding: 2px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            font-size: 10px;
          }
        }
        .photo__item-text {
          font-size: 14px;
          color: var(--color6);
          font-family: var(--fontNotoSansJP);
          margin-top: 10px;
          line-height: 1.4;
        }
      }
    }
  }
}

.pagination {
  padding-top: 70px;
  padding-bottom: 0;
}