<div class="article">
  <div class="article__cover">
    <div class="article__cover-image"><img src="<%- conf.image %>/dummy/news_cover.jpg" alt=""></div>
    <p class="date article__cover-date">2020.01.01</p>
  </div>
  <div class="article__wrapper">
    <div class="article__body">
      <p class="article__title">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</p>
      <div class="article__main">
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        <p><a href="">リンク</a></p>
        <p><img src="<%- conf.image %>/dummy/news_image.jpg" alt=""></p>
      </div>
    </div>
    <%- include('../../parts/tag/tag.ejs', { conf, type: "foot" }) %>
  </div>
</div>