.list {
  .item {
    margin-bottom: 40px;

    @media (--sp) {
      margin-bottom: 15px;
    }
  }

  .item-inner {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    display: block;
    text-decoration: none;
    .item__head {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
    }
    .item-text {
      padding: 20px;
      font-family: var(--fontNotoSansJP);
      font-size: 18px;
      line-height: 1.6;

      @media (--sp) {
        padding: 15px;
        font-size: 12px;
      }
    }
  }
}