.article {
    margin-left: auto;
    margin-right: auto;
    @media (--not-sp) {
        max-width: 755px;
        width: calc(755 / 1140 * 100%);
    }
    @media (--sp) {
		margin-bottom: 9.3vw;
    }
    .article__cover {
        position: relative;
        .article__cover-image {
            border-radius: 5px;
        }
        .article__cover-date {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .article__body {
		padding: 2.67vw 5.33vw 0;
		background-color: var(--custom1-bgColor7);
        @media (--not-sp) {
            padding: 0 25px;
        }
        @media (--sp) {
            border-radius: 5px;
        }
        .article-title {
            font-size: 24px;
            font-family: var(--fontNotoSansJP);
            color: var(--custom1-textColor2);
            font-weight: 600;
            line-height: 1.4;

            @media (--sp) {
                font-size: 2.93vw;
            }
            @media (--not-sp) {
                padding-left: 15px;
                padding-right: 15px;
            }
            &:nth-of-type(2) {
                margin-bottom: 7.16%;
            }
            &.label {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 16.72% 15px 7.96%;
                background-color: var(--custom1-bgColor3);
                padding: 4% 0;
                font-family: var(--fontMontserrat);
                font-weight: bolder;
                line-height: 1;
                @media (--sp) {
                    margin: 6.67vw 0 6vw;
                    padding: 4.67vw 0;
                    font-size: 4.53vw;
                }
                span {
                    font-size: 60px;
                    padding-right: 2.4%;
                    font-weight: bold;
                    @media (--sp) {
                        font-size: 8vw;
                    }
                }
            }
        }
        .article-parts {
            display: flex;
            flex-wrap: wrap;
            .article-part {
                @media (--sp) {
                    margin-bottom: 2.93vw;
                }
                .article-heading {
					font-size: 22px;
					font-weight: bold;
					margin-bottom: 3.18%;
					color: var(--custom1-textColor2);
                    @media (--sp) {
                        font-size: 2.93vw;
                    }
                }
            }
        }
        .article-text {
            font-size: 18px;
            font-family: var(--fontNotoSansJP);
            color: var(--custom1-textColor2);
            line-height: 1.6;
            margin-top: 30px;

            @media (--sp) {
                font-size: 2.93vw;
                margin: 2.93vw auto 0;
                padding-bottom: 12.6vw;
            }
            &.underline {
                padding-bottom: 2.4%;
                margin-bottom: 15.8%;
                border-bottom: 3px solid #000;
                @media (--sp) {
                    padding-bottom: 2.93vw;
					margin-bottom: 0;
					border-bottom: 2px solid #000;
                }
            }
        }
    }

    .article__btn {
        text-align: center;
        @media (--not-sp) {
			margin-top: 50px;
		}

        .article__btn-bt {
            display: inline-flex;
            padding-left: 20px;
			padding-right: 20px;
			@media (--sp) {
				width: 42.6vw;
				margin-bottom: 8vw;
				font-size: 3.73vw;
				padding: 2.67vw 0;
			}
        }
	}
	.article__foot {
		text-align: center;
		.article__myPage {
			display: inline-flex;
			width: 30.6vw;
			margin-top: 13.3vw;
			font-size: 3.73vw;
			padding: 2.67vw 0;
		}
	}
}
