<div class="article">
  <div class="article__body -bgColor7">
	<p class="article-title label -bgColor3">
		<span>
			100
		</span>
		pt
	</p>
	<p class="article-title col12 -textColor2">ポイント履歴</p>
	<ul class="article-parts">
		<% for (let a = 0; a < 4; a += 1) {%>
		<li class="article-part col6">
			<p class="article-heading -textColor2">
				10 pt
			</p>
			<div class="article-text underline -textColor2">
				テキストテキストテキストテキストテキストテキストテキスト
			</div>
		</li>
		<% }%>
	</ul>
	<div class="article-text col12 -textColor2">
		テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
	</div>
	<div class="article__btn">
		<a class="button article__btn-bt -hidden-sp" href="/">BACK TOP</a>
		<a class="button article__btn-bt -hidden-pc" href="/">BACK</a>
	</div>
  </div>
  <div class="article__foot">
	  <a href="" class="button article__myPage -hidden-pc">
		  MY PAGE
	  </a>
  </div>
</div>