<div class="article">
  <div class="article__body">
	<div class="article-title">
		テキストテキストテキストテキストテキストテキストテキストテキストテキスト
	</div>
	<div class="article-text">
		テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
		テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
	</div>
	<div class="article__btn">
		<a class="button article__btn-bt" href="/">SELECT</a> 
		<a class="button article__btn-bt btn-light" href="/">HISTORY</a> 
	</div>
  </div>
  <div class="article__foot">
	  <a href="" class="button article__back">
		  MY PAGE
	  </a>
  </div>
</div>