.article {
    margin-left: auto;
    margin-right: auto;
    @media (--not-sp) {
        width: 100%;
    }
    @media (--sp) {
		margin-bottom: 9.3vw;
	}

    .article__body {
		padding: 7.8% 19.5%;
        @media (--sp) {
			border-radius: 5px;
			padding: 6vw 6vw 13.3vw;
		}
		.text-center {
			text-align: center;
		}
		.article-image {
			width: 24.4%;
			margin: 0 auto 3.9%;
			@media (--sp) {
				width: 33.3vw;
				margin: 0 auto 10%;
			}
			img {
				max-width: 100%;
			}
		}
		.round-image {
			border-radius: 50%;
			overflow: hidden;
		}
        .article-title {
            font-size: 24px;
            font-family: var(--fontNotoSansJP);
            font-weight: 600;
            line-height: 1.4;
			margin-bottom: 7.8%;
            @media (--sp) {
				font-size: 3.73vw;
				margin-bottom: 6vw;
            }
        }
        .article-text {
            font-size: 18px;
            font-family: var(--fontNotoSansJP);
            line-height: 1.6;
            margin-top: 30px;

            @media (--sp) {
                font-size: 2.93vw;
                margin: 2.93vw auto 0;
            }
        }
    }

    .article__btn {
        text-align: center;
        @media (--not-sp) {
            margin-top: 50px;
        }

        @media (--sp) {
			padding-top: 13.3vw;
			display: flex;
			flex-direction: column;
			align-items: center;
        }

        .article__btn-bt {
			display: inline-flex;
			width: 37.143%;
			max-width: 230px;
			padding: 2.86% 0;
			margin: 0 3.52%;
			@media (--sp) {
				width: 42.6vw;
				max-width: 320px;
				margin-bottom: 6.67vw;
				font-size: 3.73vw;
				padding: 2.67vw 0;
				&:nth-of-type(2) {
					margin-bottom: 0;
				}
			}
		}
	}
	.article__foot {
		text-align: center;
		.article__back {
			width: 160px;
			margin: 7.8% auto 0;
			font-size: 18px;
			padding: 1.37% 2.73%;
			@media (--sp) {
				width: 30.67vw;
				padding: 2.4vw 0;
				font-size: 3.73vw;
			}
		}
	}
}
