<div class="article">
  <div class="article__body -bgColor7">
	<div class="article-title text-center -textColor4">
		テキストテキストテキスト
	</div>
	<div class="article-text -textColor4">
		テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
	</div>
  </div>
  <div class="article__foot">
	  <a href="" class="button article__back">
		  MY PAGE
	  </a>
  </div>
</div>