<div class="article">
  <div class="article__body -bgColor7">
	<div class="article-title -textColor2">
		テキストテキストテキストテキストテキストテキストテキストテキストテキスト
	</div>
	<div class="article-text -textColor2">
		テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
		テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
	</div>
	<div class="article__btn">
		<a class="button article__btn-bt -dropshadow2" href="/">SELECT</a> 
		<a class="button article__btn-bt btn-light -dropshadow2 button--color2" href="/">HISTORY</a> 
	</div>
  </div>
  <div class="article__foot">
	  <a href="" class="button article__back">
		  MY PAGE
	  </a>
  </div>
</div>