<div class="article confirm">
  <div class="article__body">
	  <div class="article-image round-image">
		  <img src="<%- conf.image %>/dummy/favorite.jpg" alt="" />
	  </div>
	<div class="article-title text-center">
		テキストテキストテキスト
	</div>
	<div class="article-text">
		テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
	</div>
  <form name="collform" method="GET" action="/s/k46o/collection">

  <input type="hidden" name="mode" value="MOD">
  <input type="hidden" name="key" value="1">
  <input type="hidden" name="cd" value="favorite">
  <input type="hidden" name="code" value="00">
  <div class="btn-submit"><button type="submit" id="submitConform">決定する</button></div>
  <div class="btn-reset"><div class="btn-reset_in"><a href="/s/k46o/collection/favorite?ima=0000">もどる</a></div></div>
  <input type="hidden" name="ima" value="0000">

  </form>
  </div>
  <div class="article__foot">
	  <a href="" class="button article__back">
		  MY PAGE
	  </a>
  </div>
</div>