<ul class="pager">

  <!--表示するページがない場合は非表示-->
  <li class="prev"><a href="#">← 前へもどる</a></li>
  <li class="item"><a href="#" class="link">最初</a></li>
  <li class="item"><a href="#" class="link">前の5件</a></li>
  <!--表示するページがない場合は非表示-->

  <li class="coun"><span>1</span></li>

  <li class="coun"><a href="#">2</a></li>
  <li class="coun"><a href="#">3</a></li>
  <li class="coun"><a href="#">4</a></li>
  <li class="coun"><a href="#">5</a></li>

  <li class="item"><a href="#" class="link">次の5件</a></li>
  <li class="item"><a href="#" class="link">最後</a></li>
  <li class="next"><a href="#">次へすすむ →</a></li>

</ul>