.fixedCard {
  position: fixed;
  bottom: 100px;
  left: 0;
  background-color: var(--color4);
  display: flex;
  align-items: center;
  color: #fff;
  width: calc(494 / 1440 * 100%);
  padding: 20px 40px 20px 0;
  z-index: 10;

  .fixedCard-close {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    outline: none;
    cursor: pointer;
    span {
      background-color: #fff;
      width: 1px;
      height: 20px;
      top: 4px;
      position: absolute;
      right: 14px;

      &:nth-of-type(1) {
        transform:rotate(45deg);

        @media (--sp) {
          top: 12px;
        }
      }

      &:nth-of-type(2) {
        transform:rotate(-45deg);

        @media (--sp) {
          top: 22px;
        }
      }
    }
  }

  .fixedCard-title {
    font-size: 24px;
    font-family: var(--fontMontserrat);
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: .1em;
  }

  .fixedCard-text {
    font-size: 18px;
    flex: 1;
    line-height: 1.4;
  }
}