<div class="fixedCard">
  <button class="fixedCard-close">
    <span></span>
    <span></span>
  </button>
  <p class="fixedCard-title">TITLE</p>
  <p class="fixedCard-text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
</div>