<header id="header" class="header" role="banner">
  <div class="container">
    <div class="header-logo">
      <div class="header-logo__image">
        <img src="<%- conf.image %>/common/logo_head.png" alt="">
        <h1 class="-sr-only">SMS TEMP</h1>
      </div>
      <p class="header-logo__subtitle">FAN CLUB WEB TEMPLATE</p>
    </div>
  </div>
<%- include('../menu/menu.ejs', { conf }) %>
</header>
