<header id="header" class="header" role="banner">
  <div class="base">
    <div class="header-logo -bgColor2OnlySp">
      <div class="header-logo__image">
        <a href="/">
          <% if (typeof logoColor === 'string' ) { %>
          <img src="<%- conf.image %>/common/logo--<%- logoColor %>.png" alt="">
          <% } else { %>
          <img src="<%- conf.image %>/common/logo_head.png" alt="">
          <% } %>
        </a>
        <h1 class="-sr-only">SMS TEMP</h1>
      </div>
      <p class="header-logo__subtitle -hidden-sp">FAN CLUB WEB TEMPLATE</p>
    </div>
  </div>
<%- include('./menu.ejs', { conf }) %>
</header>
