  <div class="menu">
    <button class="menu__toggle">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="menu__wrapper">
      <div class="container">
        <div class="menu-list">
          <ul class="menu-list__block">
            <li class="menu-list__block-item"><a href="">TOP</a></li>
            <li class="menu-list__block-item"><a href="">NEWS</a></li>
            <li class="menu-list__block-item"><a href="">MOVIE</a></li>
            <li class="menu-list__block-item"><a href="">PHOTO</a></li>
          </ul>
          <ul class="menu-list__block">
            <li class="menu-list__block-item"><a href="">FAVORITE</a></li>
            <li class="menu-list__block-item"><a href="">BLOG</a></li>
            <li class="menu-list__block-item"><a href="">MY PAGE</a></li>
            <li class="menu-list__block-item"><a href="">TICKET</a></li>
          </ul>
          <ul class="menu-list__block">
            <li class="menu-list__block-item"><a href="">DISCOGRAPHY</a></li>
            <li class="menu-list__block-item"><a href="">BIOGRAPHY</a></li>
            <li class="menu-list__block-item"><a href="">RADIO</a></li>
          </ul>
        </div>
        <div class="menu-buttons">
          <div class="menu-buttons__head">
            <a href="" class="button">LOGIN</a>
            <a href="" class="button">JOIN</a>
          </div>
          <div class="menu-buttons__banner">
            <a href=""><img src="<%- conf.image %>/dummy/menu_banner.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>