.menu {
  .menu__toggle {
    position: fixed;
    top: 0;
    right: 0;
    width: 90px;
    height: 90px;
    border: none;
    z-index: 30;
    cursor: pointer;
    outline: none;

    @media (--sp) {
      width: 45px;
      height: 45px;
    }

    span {
      position: absolute;
      left: 0;
      right: 0;
      width: 60px;
      margin: 0 auto;
      background-color: #fff;
      height: 3px;
      display: inline-block;
      transition-property: transform, opacity;
      transition-duration: .5s;

      @media (--sp) {
        height: 2px;
        width: 30px;
      }

      &:nth-of-type(1) {
        top: 24px;

        @media (--sp) {
          top: 12px;
        }
      }

      &:nth-of-type(2) {
        top: 44px;

        @media (--sp) {
          top: 22px;
        }
      }

      &:nth-of-type(3) {
        top: 64px;

        @media (--sp) {
          top: 32px;
        }
      }
    }
  }

  .menu__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
    transition-property: visibility, opacity;

    @media (--sp) {
      overflow-y: scroll;
    }

    .container {
      @media (--not-sp) {
        width: calc(1140 / 1440 * 100%);
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      @media (--sp) {
        width: 100%;
      }

      .menu-list {
        @media (--not-sp) {
          flex: 1;
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;
          margin-top: -40px;
        }
        @media (--sp) {
          text-align: center;
          margin-top: -20px;
          padding-top: 50px;
          padding-bottom: 50px;
        }
        .menu-list__block {
          @media (--not-sp) {
            padding-right: 60px;
          }
          .menu-list__block-item {
            margin-top: 40px;
            @media (--tb) {
              margin-top: 30px;
            }
            @media (--sp) {
              margin-top: 20px;
            }
            a {
              font-size: 32px;
              color: #fff;
              font-family: var(--fontMontserrat);
              text-decoration: none;

              @media (--tb) {
                font-size: 25px;
              }

              @media (--sp) {
                font-size: 18px;
              }
            }
          }
        }
      }

      .menu-buttons {
        @media (--not-sp) {
          min-width: 365px;
          width: calc(365 / 1140 * 100%);
          padding: 40px 20px 30px;
        }

        @media (--sp) {
          padding: 25px 60px;
        }

        .menu-buttons__head {
          display: flex;
          justify-content: space-between;
          a {
            width: calc(50% - 15px);

            @media (--sp) {
              width: calc(50% - 5px);
            }
          }
        }

        .menu-buttons__banner {
          margin-top: 30px;

          @media (--sp) {
            margin-top: 25px;
          }
          a {
            display: block;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }

  &.-show {
    .menu__toggle {
      span {
        &:nth-of-type(1) {
          transform: translateY(20px) rotate(-225deg);

          @media (--sp) {
            transform: translateY(10px) rotate(-225deg);
          }
        }

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:nth-of-type(3) {
          transform: translateY(-20px) rotate(225deg);

          @media (--sp) {
            transform: translateY(-10px) rotate(225deg);
          }
        }
      }
    }
  }

  &:not(.-show) {
    .menu__wrapper {
      visibility: hidden;
      opacity: 0;
    }
  }

}