  <div class="menu">
    <button class="menu__toggle">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="menu__wrapper">
      <div class="container">
        <div class="menu-list">
          <ul class="menu-list__block">
            <li class="menu-list__block-item"><a href="/top.html">TOP</a></li>
            <li class="menu-list__block-item"><a href="/news.html">NEWS</a></li>
            <li class="menu-list__block-item"><a href="/movie.html">MOVIE</a></li>
            <li class="menu-list__block-item"><a href="/photo.html">PHOTO</a></li>
          </ul>
          <ul class="menu-list__block">
            <li class="menu-list__block-item"><a href="/favorite.html">FAVORITE</a></li>
            <li class="menu-list__block-item"><a href="/blog.html">BLOG</a></li>
            <li class="menu-list__block-item"><a href="/mypage.html">MY PAGE</a></li>
            <li class="menu-list__block-item"><a href="/ticket.html">TICKET</a></li>
          </ul>
          <ul class="menu-list__block">
            <li class="menu-list__block-item"><a href="/discography2.html">DISCOGRAPHY</a></li>
            <li class="menu-list__block-item"><a href="/biography.html">BIOGRAPHY</a></li>
            <li class="menu-list__block-item"><a href="/radio.html">RADIO</a></li>
          </ul>
        </div>
        <div class="menu-buttons">
          <div class="menu-buttons__head">
            <a href="" class="button">LOGIN</a>
            <a href="" class="button">JOIN</a>
          </div>
          <div class="menu-buttons__banner">
            <a href=""><img src="<%- conf.image %>/dummy/menu_banner.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>