.list {
  .item {
    margin-bottom: 40px;

    @media (--sp) {
      margin-bottom: 20px;
    }
  }

  .item-inner {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    position: relative;
    box-shadow: var(--dropShadowL);
    text-decoration: none;

    .item__cover {
      width: calc(170 / 560 * 100%);
      position: relative;
      min-width: 170px;

      .item__cover-image {
        height: 100%;
        overflow: hidden;
        position: relative;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          min-width: 100%;
          min-height: 100%;
          max-width: none;
          transform: translate(-50%, -50%);
        }
      }

      .item__cover-play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(80 / 170 * 100%);

        @media (--sp) {
          width: calc(160 / 760 * 100%);
        }
      }
    }
    .item-content {
      flex: 1;
      padding: 15px;
    }

    .item-head {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;

      .item-date {
        border-radius: 5px;
        margin-right: 15px;
        margin-bottom: 15px;
      }
      .tag {
        margin-bottom: 15px;
      }
    }

    .item-text {
      color: var(--color4);
      font-family: var(--fontNotoSansJP);
      font-size: 18px;
      line-height: 1.6;

      @media (--sp) {
        font-size: 12px;
      }
    }
  }
}