.member {
  background-color: var(--bgColor1);
  padding: 45px 20px 100px;
  color: var(--textColor1);
  box-shadow: var(--dropShadowS);
  border-radius: var(--borderRadius);
  overflow: hidden;

  @media (--sp) {
    padding: 30px 25px;
  }
  .member-title {
    font-size: 24px;

    @media (--sp) {
      font-size: 14px;
      text-align: center;
    }
  }
  .member__items {
    margin-top: 20px;

    @media (--sp) {
      display: flex;
      flex-wrap: wrap;
      border-top: 1px solid var(--bgColor2);
    }
    .member__items-item {
      border-bottom: 1px solid var(--bgColor2);

      &:nth-of-type(even) {
        @media (--sp) {
          border-left: 1px solid var(--bgColor2);
        }
      }

      @media (--sp) {
        width: 50%;
      }
      a {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 18px;
        text-decoration: none;
        display: block;

        @media (--sp) {
          font-size: 12px;
          text-align: center;
        }
      }
    }
  }
}