<div class="member -bgColor5 -dropshadow2">
  <p class="member-title">会員情報の変更</p>
  <ul class="member__items">
    <li class="member__items-item"><a href="">プロフィールの変更</a></li>
    <li class="member__items-item"><a href="">メールアドレスの変更</a></li>
    <li class="member__items-item"><a href="">メルマガの送受信設定</a></li>
    <li class="member__items-item"><a href="">パスワードの変更</a></li>
    <li class="member__items-item"><a href="">会員情報の引継ぎ</a></li>
    <li class="member__items-item"><a href="">入会状況・お支払い方法</a></li>
  </ul>
</div>