  <div class="login">
    <div class="base login__base">
      <div class="login__buttons -bgColor2 -dropshadow1">
        <a href="" class="button">LOGIN</a>
        <a href="" class="button">JOIN</a>
      </div>
    </div>
  </div>