.login {
  padding-top: 40px;
  @media (--not-sp) {
    padding-bottom: 40px;
  }

  .login__buttons {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--color3);
    padding-top: 20px;
    padding-bottom: 20px;
    @media (--not-sp) {
      width: 560px;
    }
    @media (--sp) {
      justify-content: space-between;
      padding-left: 10px;
      padding-right: 10px;
    }
    a {
      @media (--not-sp) {
        width: 140px;
        font-size: 24px;
        &:first-of-type {
          margin-right: 16px;
        }
      }
      @media (--sp) {
        width: calc(50% - 10px);
        font-size: 18px;
      }
    }
  }
}