@import "libraries-frontend-framelunch/css/_reset.css";
@import "./common/_variables.css";
@import "./common/_grid.css";
@import "../components/parts/loading/loading.css";
@import "../components/header/header.css";
@import "../components/footer/footer.css";
@import "../components/animation/fade.css";
@import "../components/parts/head.css";
@import "../components/header/menu.css";

.-hidden-pc {
    @media (--not-sp) {
        display: none !important;
    }
}

.-hidden-sp {
    @media (--sp) {
        display: none !important;
    }
}

.-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

body {
  background-color: var(--bgColor5)
}

img {
  max-width: 100%;
}

.wrapper {
  @media (--not-sp) {
    padding-bottom: 150px;
  }
}

.base {
	margin: 0 auto;
  @media (--not-sp) {
    width: calc(1280 / 1600 * 100%);
    max-width: 1280px;
  }

  @media (--tb-h) {
    width: calc(90%);
  }

  @media (--tb) {
    width: calc(90%);
  }

  &.base--main {
    background-color: var(--bgColor3);
    box-shadow: var(--dropShadow);

    @media (--not-sp) {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    @media (--sp) {
      padding-top: 50px;
      padding-bottom: 30px;
    }
  }
}

.inner {
	margin: 0 auto;
  @media (--not-sp) {
    width: calc(1140 / 1280 * 100%);
    max-width: 1140px;
  }

  @media (--sp) {
    width: calc(100% - 20px);
  }
}