@import "./common/_global.css";
@import "./common/_variables.css";
@import "./common/_grid.css";
@import "../components/parts/button.css";
@import "../components/parts/pagination/pagination.css";
@import "../components/form/input/form.css";
@import "../components/form/confirm/form.css";
@import "../components/form/operation.css";

.form__base {
  padding-top: 80px;
  padding-bottom: 80px;
}

.form {
  margin-top: 70px;
  background-color: #fff;

  @media (--not-sp) {
    padding: 70px 190px;
  }

  @media (--tb) {
    padding: 50px 20px;
  }

  @media (--sp) {
    padding: 25px 20px;
  }
}

.form__head-title {
  font-size: 28px;
  font-family: var(--fontNotoSansJP);
  font-weight: 600;
  line-height: 1.4;

  @media (--sp) {
    font-size: 14px;
  }
}

.form__head-text {
  font-size: 24px;
  font-family: var(--fontNotoSansJP);
  line-height: 1.4;
  margin-top: 25px;

  @media (--sp) {
    font-size: 12px;
  }
}

.form__body {
  font-size: 28px;
  font-family: var(--fontNotoSansJP);

  @media (--sp) {
    font-size: 14px;
  }
  .aspform_title {
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 20px;

    @media (--sp) {
      margin-top: 30px;
    }
  }
  .aspform_error {
    color: #f00;
    font-size: 20px;
    margin-bottom: 5px;
    @media (--sp) {
      font-size: 12px;
    }
  }

  input[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fontMontserrat);
    text-decoration: none;
    border-radius: 5px;
    font-size: 24px;
    border: none;
    letter-spacing: .1em;
    width: 228px;
    height: 56px;

    @media (--sp) {
      font-size: 14px;
      margin: 0 auto;
      width: 114px;
      height: 28px;
    }
  }

}

.-formFinish {
  .form__head-text {
    margin-top: 70px;
    font-weight: 500;

    @media (--sp) {
      margin-top: 30px;
    }
  }
  .operation {
    margin-top: 90px;
  }
  .button--top {
    margin: 0 auto;
  }
}
