@import "./common/_global.css";
@import "../components/parts/button.css";
@import "../components/parts/date.css";
@import "../components/parts/pagination/pagination.css";
@import "../components/movie_detail/head/head.css";
@import "../components/movie_detail/article/article.css";

.movie__base {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--color5);
}