@import "./common/_global.css";
@import "./common/_variables.css";
@import "./common/_grid.css";
@import "../components/lib/slick/slick.css";
@import "../components/lib/slick/slick-theme.css";
@import "../components/parts/button.css";
@import "../components/parts/date.css";
@import "../components/parts/pagination/pagination.css";
@import "../components/mypage/head/head.css";
@import "../components/mypage/card/card.css";
@import "../components/mypage/favorite/favorite.css";
@import "../components/mypage/qrcode/qrcode.css";
@import "../components/mypage/checkin/checkin.css";
@import "../components/mypage/member/member.css";

.mypage-main {
	width: 700px;

	@media (--tb-h) {
		width: 600px;
	}

	@media (--tb) {
		width: 400px;
	}

  @media (--sp) {
    width: 100%;
  }
}

.maypage-member {
	flex: 1;
	margin-left: 25px;

  @media (--sp) {
    margin-left: 0;
    margin-top: 25px;
  }
}