<div class="article">
  <div class="article__cover">
    <p class="article__cover-image"><img src="<%- conf.image %>/<%= projectName %>/biography.jpg" alt=""></p>
  </div>
  <div class="article__body">
    <p class="article-title">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</p>
    <p class="article-text">テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
  </div>
  <div class="article__foot">
    <a class="button article__foot-bt" href="/">BACK TOP</a>
  </div>
</div>