.chackin {
  margin-top: 50px;
  background-color: #fff;
  padding: 60px;
  box-shadow: var(--dropShadowS);
  border-radius: var(--borderRadius);
  overflow: hidden;

  @media (--sp) {
    margin-top: 25px;
    padding: 30px 10px;
  }

  .chackin-title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    font-family: var(--fontMontserrat);
    color: var(--textColor1);
    letter-spacing: .1em;

    @media (--sp) {
      font-size: 24px;
    }
  }
  .chackin-list {
    margin-top: 40px;
    overflow: hidden;
    .chackin__items {
      display: flex;
      margin-left: -25px;

      @media (--sp) {
        margin-left: -15px;
      }
      .chackin__items-item {
        margin-left: 25px;

        @media (--sp) {
          margin-left: 15px;
        }
        .chackin__items-inner {
          position: relative;
          .chackin__item-name {
            font-family: var(--fontMontserrat);
            font-size: 32px;
            font-weight: 600;
            color: var(--textColor1);
            letter-spacing: .1em;
            position: absolute;
            bottom: 5px;
            left: 5px;
            text-shadow: 1px 1px 0 #fff,
                         -1px 1px 0 #fff,
                         1px -1px 0 #fff,
                         -1px -1px 0 #fff;
          }
        }
      }
    }
  }
}