<footer id="footer" class="footer">
  <div class="container">
    <button class="pagetop">
      <div class="pagetop__icon"><%- include('../include/icon/pagetop.ejs', { }) %></div>
      <p class="pagetop__text">PAGE TOP</p>
    </button>
    <button class="sitesppport">SITE SUPPORT</button>
    <div class="social">
      <ul class="social__items">
        <li class="social__items-item"><a href=""><%- include('../icon/twitter.ejs', { }) %></a></li>
        <li class="social__items-item"><a href=""><%- include('../icon/twitter.ejs', { }) %></a></li>
      </ul>
    </div>
    <div class="footer-logo"><img src="<%- conf.image %>/common/logo_foot.png" alt=""></div>
    <p class="jasrac">[JASRAC許可番号]<br>6709411168Y45037 | 6709411165Y31015</p>
    <small class="copyright">&copy;Sony Music Solutions Inc.</small>
  </div>
</footer>
