.footer {
    /* footer style here */
    padding-bottom: 170px;
    text-align: center;
    background-color: var(--bgColor2);

    @media (--not-sp) {
      padding-top: 70px;
    }

    @media (--sp) {
      padding-bottom: 45px;
    }

    .footer__base {
      position: relative;
    }

    .footer-logo {
      margin-top: 80px;

      @media (--sp) {
        width: 135px;
        margin: 40px auto 0;
      }
    }
}

.pagetop {
  position: absolute;
  background: none;
  letter-spacing: .1em;
  border: none;
  display: flex;
  align-items: center;
  transform: rotate(90deg) translateY(-100%);
  transform-origin: left top;
  outline: none;
  cursor: pointer;

  @media (--not-sp) {
    top: 0;
    left: 0;
  }

  @media (--sp) {
    bottom: 180px;
    left: 10px;
  }

  .pagetop__icon {
    width: 50px;
    transform: scale(-1, -1);

    @media (--sp) {
      width: 25px;
    }

    svg {
      path {
        fill: var(--bgColor2);
      }
    }
  }

  .pagetop__text {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 600;
    font-family: var(--fontMontserrat);
    color: var(--bgColor2);

    @media (--sp) {
      font-size: 12px;
    }
  }
}

.sitesupport {
  margin: 0 auto;
  background-color: var(--bgColor1);
  @media (--not-sp) {
    width: 680px;
  }
  .sitesupport-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: var(--textColor1);
    margin: 0 auto;
    font-family: var(--fontMontserrat);
    font-weight: 600;
    letter-spacing: 0.05em;
    background: none;
    position: relative;
    outline: none;
    cursor: pointer;
    width: 100%;

    @media (--not-sp) {
      height: 125px;
      font-size: 36px;
    }

    @media (--sp) {
      height: 62px;
      font-size: 18px;
    }

    span {
      display: block;
      position: absolute;
      right: 20px;
      width: 25px;
      height: 25px;
      top: 0;
      bottom: 0;
      margin: auto;
      &::before,
      &::after {
        background-color: var(--textColor1);
        position: absolute;
      }
      &::before {
        content: "";
        top: 12px;
        right: 0;
        width: 25px;
        height: 2px;
      }
      &::after {
        right: 12px;
        top: 0;
        width: 2px;
        height: 25px;
      }
    }
  }
  .sitesupport-list {
    display: none;
  }
  .sitesupport__items {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 50px;
    @media (--sp) {
      padding-left: 35px;
      padding-right: 35px;
      padding-bottom: 25px;
    }
    .sitesupport__items-item {
      text-align: left;
      margin-bottom: 35px;

      @media (--sp) {
        margin-bottom: 20px;
      }
      a {
        color: var(--textColor1);
        text-decoration: none;
        font-size: 18px;

        @media (--sp) {
          font-size: 14px;
        }
      }
    }
  }

  &:not(.-open) {
    .sitesupport-toggle {
      span {
        &::after {
          content: "";
        }
      }
    }
  }
}

.social {
  margin-top: 100px;
  overflow: hidden;

  @media (--sp) {
    margin-top: 40px;
  }
  .social__items {
    display: flex;
    justify-content: center;
    margin-left: -20px;
    @media (--sp) {
      margin-left: -10px;
    }
    .social__items-item {
      padding-left: 20px;
      @media (--sp) {
        padding-left: 10px;
      }
      a {
        width: 51px;
        height: 51px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bgColor2);
        border-radius: 50%;
        overflow: hidden;
        text-decoration: none;

        @media (--sp) {
          width: 25px;
          height: 25px;
        }
        i {
          color: #fff;
          &::before {
            font-size: 30px;

            @media (--sp) {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

.jasrac {
  margin-top:50px;
  color: var(--textColor2);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.6;
  font-family: var(--fontNotoSansJP);
  letter-spacing: .1em;

  @media (--sp) {
    margin-top: 25px;
    font-size: 10px;
    line-height: 2;
  }
}

.copyright {
  display: block;
  margin-top: 40px;
  color: var(--textColor2);
  font-size: 24px;
  font-weight: 500;
  letter-spacing: .05em;
  font-family: var(--fontNotoSansJP);

  @media (--sp) {
    margin-top: 20px;
    font-size: 10px;
    letter-spacing: .1em;
  }
}
