.link {
  @media (--not-sp) {
    margin-top: 70px;
  }
  .link__base {
    background-color: var(--color3);
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
    overflow: hidden;
    box-shadow: var(--dropShadow);

    @media (--sp) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .link__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: -50px;
      margin-left: -30px;

      @media (--sp) {
        margin-top: -20px;
        margin-left: -18px;
      }
      .link__items-item {
        margin-top: 50px;
        padding-left: 30px;

        @media (--not-sp) {
          width: 20%;
        }

        @media (--tb-h) {
          width: 25%;
        }

        @media (--tb) {
          width: calc(100% / 3);
        }

        @media (--sp) {
          width: calc(100% / 3);
          margin-top: 20px;
          padding-left: 18px;
        }
        a {
          box-shadow: var(--dropShadow);
          border-radius: var(--borderRadius);
          background-color: #fff;
          display: block;
          text-decoration: none;
          text-align: center;
          padding-bottom: 40px;
          padding-top: 40px;

          @media (--sp) {
            padding-top: 20px;
            padding-bottom: 25px;
          }

          .link-icon {
            i {
              color: var(--color1);
              &::before {
                font-size: 50px;

                @media (--sp) {
                  font-size: 40px;
                }
              }
            }
          }

          .link-text {
            margin-top: 10px;
            font-size: 27px;
            color: var(--color1);
            font-family: var(--fontMontserrat);
            font-weight: 600;

            @media (--sp) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}