<div class="list">
  <% for (var i = 0; i < 5; i++) { %>
  <div class="article">
    <div class="article__head">
      <p class="date article__head-date">2020.01.01</p>
      <%- include('../../parts/tag/tag.ejs', { conf, type: "normal" }) %>
      <p class="article-title -textColor2">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</p>
      <button class="article-arrow"><%- include('../../include/arrow.ejs', { conf, type: "normal" }) %></button>
    </div>
    <div class="article__body">
      <p class="article-text -textColor2">テキストテテキストテキストテキストテキストキスト</p>
    </div>
  </div>
  <% } %>
</div>