<div class="list">
  <% for (var i = 0; i < 5; i++) { %>
  <div class="article">
    <div class="article__head">
      <p class="date article__head-date">2020.01.01</p>
      <p class="article__head-tag">MEDIA</p>
      <p class="article-title">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</p>
    </div>
    <div class="article__body">
      <p class="article-text">テキストテテキストテキストテキストテキストキスト</p>
    </div>
  </div>
  <% } %>
</div>