.button {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--fontMontserrat);
  text-decoration: none;
  border-radius: 5px;
  background-color: var(--color4);
  font-size: 24px;
  border: none;

  @media (--not-sp) {
    height: 50px;
    letter-spacing: .05em;
  }

  @media (--sp) {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: .1em;
  }
}