.date {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--fontNotoSansJP);
  letter-spacing: 0.05em;
  text-decoration: none;
  border-bottom-right-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;

  @media (--not-sp) {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
  }

  @media (--sp) {
    font-size: 10px;
    padding: 5px;
  }

  &.date--new {
    &::after {
      content: "NEW";
      color: #000;
      background-color: #fff;
      margin-left: 10px;
      font-size: 14px;
      padding: 2px 4px;

      @media (--sp) {
        font-size: 8px;
      }
    }
  }
}