.head {
  position: relative;
  @media (--not-sp) {
    margin-bottom: 80px;
  }
  @media (--sp) {
    margin-bottom: 60px;
  }
  .head-title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    font-family: var(--fontMontserrat);
    color: var(--color4);
    letter-spacing: .1em;

    @media (--sp) {
      font-size: 24px;
    }
  }
  .head-filter {
    font-family: var(--fontMontserrat);
    color: var(--color4);
    letter-spacing: .1em;

    @media (--not-sp) {
      font-size: 24px;
      position: absolute;
      right: 0;
      top: 10px;
    }

    @media (--sp) {
      font-size: 12px;
      text-align: right;
      margin-top: 30px;
    }
  }
  .head-back {
    font-size: 24px;
    font-family: var(--fontMontserrat);
    color: var(--color4);
    text-decoration: none;
    @media (--not-sp) {
      position: absolute;
      left: 0;
      top: 10px;
    }

    @media (--sp) {
      font-size: 12px;
      margin-top: 30px;
      display: block;
    }
  }
}