.form__body {
  form[name="ques1"] {
    input[type="submit"] {
      color: #fff;
      background-color: var(--bgColor6);
    }
  }
  form[name="ques2"] {
    input[type="submit"] {
      color: var(--textColor2);
      background-color: var(--bgColor3);
    }
  }
}