.form__body {
  form[name="ques1"] {
    input[type="submit"] {
      color: var(--textColor2);
      background-color: var(--bgColor2);
    }
  }
  form[name="ques2"] {
    input[type="submit"] {
      color: var(--textColor1);
      background-color: var(--bgColor1);
    }
  }
}