      .list {

        .items {
          .item {
            display: flex;
            box-shadow: var(--dropShadowS);
            border-radius: var(--borderRadius);
            overflow: hidden;
            &:not(:first-of-type) {
              margin-top: 30px;
            }
            .item-date {
              font-family: var(--fontMontserrat);
              background-color: var(--bgColor6);
              color: #fff;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: 110px;
              font-size: 20px;
              padding-top: 20px;
              padding-bottom: 20px;
              @media (--sp) {
                font-size: 13px;
                width: 78px;
              }
              strong {
                font-size: 38px;
                @media (--sp) {
                  font-size: 24px;
                }
              }
            }
            .item__body {
              flex: 1;
              background-color: #fff;
              padding: 20px;

              @media (--sp) {
                padding: 15px;
              }
              .item__head {
                display: flex;
                align-items: center;
                .item__head-tag {
                  font-size: 12px;
                  color: var(--textColor3);
                  border: 1px solid var(--textColor3);
                  padding: 2px 10px;
                  display: inline-flex;
                  border-radius: 10px;
                  font-family: var(--fontNotoSansJP);

                  @media (--sp) {
                    font-size: 8px;
                  }
                }
                .item__head-date {
                  font-size: 13px;
                  color: var(--textColor3);
                  font-family: var(--fontNotoSansJP);
                  margin-left: 20px;

                  @media (--sp) {
                    margin-left: 10px;
                    font-size: 8px;
                  }
                }
              }
              .item__text {
                font-size: 18px;
                color: var(--textColor2);
                margin-top: 15px;
                line-height: 1.4;

                @media (--sp) {
                  font-size: 14px;
                }
              }
            }
          }
        }

        .news-item {
          margin-bottom: 40px;

          @media (--sp) {
            margin-bottom: 20px;
          }
        }

        .news-inner {
          background-color: #fff;
          border-radius: 5px;
          overflow: hidden;
          .news__head {
            display: flex;
            align-items: center;
            .news__tags {
              display: flex;
              .news__tags-item {
                font-size: 12px;
                font-family: var(--fontMontserrat);
                color: var(--textColor3);
                margin-left: 10px;
                border: 1px solid var(--textColor3);
                border-radius: 10px;
                padding: 2px 10px;
              }
            }
          }
          .news-text {
            padding: 20px;
            color: var(--textColor2);
            font-family: var(--fontNotoSansJP);
            font-size: 18px;
            line-height: 1.6;
          }
        }
      }

      .pagination {
        margin-top: 50px;
      }