  <div class="news">
    <div class="base news__base">
      <div class="inner">
        <div class="news__content">
          <h2 class="news-title">NEWS</h2>
          <div class="news__list">
            <div class="row">
              <%
                const news = [
                  { date: "2020.01.01", tags: [ "NEWS", "MEDIA", "SAMPLE" ] },
                  { date: "2020.01.01", tags: [ "NEWS", "MEDIA", "SAMPLE" ] },
                  { date: "2020.01.01", tags: [ "NEWS", "MEDIA", "SAMPLE" ] },
                  { date: "2020.01.01", tags: [ "NEWS", "MEDIA", "SAMPLE" ] },
                ]
              %>
              <% news.forEach(function (value, key) { _%>
              <div class="col6 news-item">
                <div class="news-inner">
                  <div class="news__head">
                    <p class="date news__head-date">2020.01.01</p>
                    <ul class="news__tags">
                      <li class="news__tags-item">NEWS</li>
                      <li class="news__tags-item">MEDIA</li>
                      <li class="news__tags-item">SAMPLE</li>
                    </ul>
                  </div>
                  <p class="news-text">テキストテテキストテキストテキストテキストキスト</p>
                </div>
              </div>
              <% }); _%>
            </div>
          </div>
        </div>
        <a class="button news-bt">ALL NEWS</a>
      </div>
    </div>
  </div>