.news {
  @media (--not-sp) {
    margin-top: 70px;
  }
  .news__base {
    background-color: var(--color5);
    padding-top: 70px;
    padding-bottom: 45px;
    position: relative;
    box-shadow: var(--dropShadow);

    @media (--sp) {
      padding-top: 40px;
      padding-bottom: 35px;
    }
    .news-bt {
      @media (--not-sp) {
        position: absolute;
        width: 200px;
        top: 70px;
        right: 70px;
      }

      @media (--sp) {
        width: 160px;
        margin: 10px auto 0;
      }
    }
    .news__content {
      .news-title {
        font-size: 48px;
        font-weight: 700;
        text-align: center;
        font-family: var(--fontMontserrat);
        color: var(--color4);
        letter-spacing: .1em;

        @media (--sp) {
          font-size: 24px;
        }
      }
      .news__list {
        margin-top: 50px;

        @media (--sp) {
          margin-top: 30px;
        }

        .news-item {
          margin-bottom: 40px;

          @media (--sp) {
            margin-bottom: 15px;
          }
        }

        .news-inner {
          background-color: #fff;
          border-radius: 5px;
          overflow: hidden;
          box-shadow: var(--dropShadowS);
          .news__head {
            display: flex;
            align-items: center;
            .news__head-date {
              margin-right: 15px;
              @media (--sp) {
                margin-right: 10px;
              }
            }
          }
          .news-text {
            padding: 20px;
            color: var(--color4);
            font-family: var(--fontNotoSansJP);
            font-size: 18px;
            line-height: 1.6;

            @media (--sp) {
              padding: 15px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}