.operation {
  margin-top: 50px;
  text-align: center;

  @media (--sp) {
    margin-top: 25px;
  }
  .button {
    display: inline-flex;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}