      <li class="posts__item">
        <a href="">
          <p class="date posts__item-tag">2020.01.01</p>
          <p class="posts__item-image"><img src="<%- conf.image %>/dummy/posts_image.jpg" alt=""></p>
          <p class="posts__item-text">テキストテキスト</p>
        </a>
      </li>
      <li class="posts__item">
        <a href="">
          <p class="date posts__item-tag">2020.01.01</p>
          <p class="posts__item-image"><img src="<%- conf.image %>/dummy/posts_image.jpg" alt=""></p>
          <p class="posts__item-text">テキストテキスト</p>
        </a>
      </li>