<div class="posts -dropshadow2">
  <h3 class="posts-title -textColor2">ROLATED POSTS</h3>
  <div class="posts-list">
    <ul class="posts__items -hidden-sp">
      <%- include('./_list.ejs', { conf }) %>
    </ul>
    <ul class="posts__items -hidden-pc" id="js-slide">
      <%- include('./_list.ejs', { conf }) %>
    </ul>
  </div>
</div>