.posts {
  background-color: #fff;
  padding: 0 15px 30px;
  box-shadow: var(--dropShadowS);
  border-radius: var(--borderRadius);

  @media (--sp) {
    margin-top: 30px;
    padding-bottom: 25px;
    margin-bottom: 1.5rem;
  }
  .posts-title {
    font-size: 24px;
    font-family: var(--fontMontserrat);
    color: var(--color4);
    padding-top: 30px;
    padding-bottom: 30px;
    letter-spacing: 0.05em;

    @media (--sp) {
      font-size: 18px;
      padding-bottom: 20px;
    }
  }
  .posts-list {
    overflow: hidden;

    @media (--sp) {
      margin-left: -15px;
      margin-right: -15px;
    }
    .posts__items {
      @media (--not-sp) {
        margin-top: -20px;
        margin-left: -20px;
      }
      .posts__item {
        border-radius: var(--borderRadius);
        @media (--not-sp) {
          margin-top: 20px;
          padding-left: 20px;
        }
        @media (--sp) {
          padding-left: 10px;
          padding-right: 10px;
        }
        a {
          display: block;
          position: relative;
          text-decoration: none;
          border-radius: var(--borderRadius);
          overflow: hidden;
          .posts__item-tag {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 12px;
            height: 30px;
          }
          .posts__item-image {
            img {
              width: 100%;
            }
          }
          .posts__item-text {
            color: var(--color4);
            background-color: var(--color5);
            padding: 10px 5px;
            font-size: 12px;

            @media (--sp) {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
  .slick-arrow {
    width: 54px;
    height: 54px;
    z-index: 1;
    @media (--sp) {
      width: 30px;
      height: 30px;
    }
    &::before {
      background-image: url("../../../images/common/slide_arrow.png");
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      display: block;
      background-size: 100% auto;
    }
    &.slick-prev {
      &::before {
        transform: scale(-1, 1);
      }
      @media (--not-sp) {
        left: -90px;
      }
      @media (--sp) {
        left: 0;
      }
    }
    &.slick-next {
      @media (--not-sp) {
        right: -90px;
      }
      @media (--sp) {
        right: 0;
      }
    }
  }
}
