<div class="card -dropshadow2">
  <div class="card-cover"><img src="<%- conf.image %>/dummy/mypage_img.jpg" alt=""></div>
  <div class="card__body">
    <div class="card__item card__item--name">
      <p class="card__item-title -textColor5">NAME</p>
      <p class="card__item-value -textColor5">USER NAME</p>
    </div>
    <div class="card__item card__item--number">
      <div class="card__item-inner -bgColor3">
        <p class="card__item-title -textColor4">MEMBER  NUMBER</p>
        <p class="card__item-value -textColor4">NO.0000000</p>
      </div>
    </div>
    <div class="card__item card__item--date">
      <p class="card__item-title -textColor2">JOIN DATE</p>
      <p class="card__item-value -textColor2">0000/00/00</p>
    </div>
    <div class="card__item card__item--birthday">
      <p class="card__item-title -textColor2">BARTHDAY</p>
      <p class="card__item-value -textColor2">0000/00/00</p>
    </div>
  </div>
</div>