.card {
  box-shadow: var(--dropShadowS);
  border-radius: var(--borderRadius);
  overflow: hidden;
  .card__body {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    position: relative;
    .card__item {
      width: 50%;
      .card__item-title {
        font-size: 20px;
        font-family: var(--fontMontserrat);
        letter-spacing: 0.1em;

        @media (--sp) {
          font-size: 10px;
        }
      }
      .card__item-value {
        font-family: var(--fontMontserrat);
        font-weight: 600;
        letter-spacing: 0.1em;
        margin-top: 15px;

        @media (--sp) {
          margin-top: 10px;
        }
      }
      &.card__item--name {
        padding: 50px 0 50px 40px;

        @media (--sp) {
          padding: 20px 0 20px 15px;
        }
        .card__item-value {
          font-size: 36px;

          @media (--sp) {
            font-size: 18px;
          }
        }
      }
      &.card__item--number {
        .card__item-inner {
          padding: 20px 30px 20px 30px;

          @media (--sp) {
            padding: 15px 0 15px 15px;
          }
        }
        .card__item-value {
          font-size: 36px;

          @media (--sp) {
            font-size: 18px;
          }
        }
      }
      &.card__item--date {
        padding: 0 40px 60px 40px;

        @media (--sp) {
          padding: 0 15px 25px 15px;
        }
        .card__item-value {
          font-size: 32px;

          @media (--sp) {
            font-size: 16px;
          }
        }
      }
      &.card__item--birthday {
        padding: 0 40px 60px 40px;

        @media (--sp) {
          padding: 0 15px 25px 15px;
        }
        .card__item-value {
          font-size: 32px;

          @media (--sp) {
            font-size: 16px;
          }
        }
      }
    }
  }
}