<div class="card">
  <div class="card-cover"><img src="<%- conf.image %>/dummy/mypage_img.jpg" alt=""></div>
  <div class="card__body">
    <div class="card__item card__item--name">
      <p class="card__item-title">NAME</p>
      <p class="card__item-value">USER NAME</p>
    </div>
    <div class="card__item card__item--number">
      <div class="card__item-inner">
        <p class="card__item-title">MEMBER  NUMBER</p>
        <p class="card__item-value">NO.0000000</p>
      </div>
    </div>
    <div class="card__item card__item--date">
      <p class="card__item-title">JOIN DATE</p>
      <p class="card__item-value">0000/00/00</p>
    </div>
    <div class="card__item card__item--birthday">
      <p class="card__item-title">BARTHDAY</p>
      <p class="card__item-value">0000/00/00</p>
    </div>
  </div>
</div>