.mv {
  @media (--not-sp) {
    margin-top: -100px;
  }

  .mv__image {
    box-shadow: var(--dropShadow);
  }
}

.header {
  .header-logo {
    @media (--sp) {
      height: auto;
      position: absolute;
      display: block;
      background: none;
      left: 0;
      right: 0;
      top: 30px;
      padding-left: 0;
    }

    .header-logo__image {
      @media (--sp) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .header-logo__subtitle {
      @media (--sp) {
        display: block !important;
      }
    }
  }
}
