.mv {
  @media (--not-sp) {
    margin-top: -100px;
  }

  .mv__image {
    text-align: center;
    box-shadow: var(--dropShadow);
  }
}

.header {
  .header-logo {
    @media (--sp) {
      display: none;
    }
  }
}
