  <div class="mv">
    <div class="base">
      <div class="mv__image">
        <img class="-hidden-sp" src="<%- conf.image %>/temp/mv_pc.jpg" alt="">
        <img class="-hidden-pc" src="<%- conf.image %>/temp/mv_sp.jpg" alt="">
      </div>
    </div>
  </div>