  <div class="movie">
    <div class="container">
      <div class="movie__wrapper">
        <a class="button movie-bt">ALL MOVIE</a>
        <div class="movie__content">
          <h2 class="movie-title">MOVIE</h2>
          <div class="movie__cover">
            <div class="movie__cover-image"><img src="<%- conf.image %>/<%= projectName %>/top/movie_image.png" alt=""></div>
            <div class="movie__cover-date date">2020.01.01</div>
            <div class="movie__cover-play"><img src="<%- conf.image %>/common/icon_play.png" alt=""></div>
          </div>
          <div class="movie__texts">
            <p class="movie__texts-title">MUSIC NAME</p>
            <p class="movie__texts-text">テキストテキスト</p>
          </div>
        </div>
      </div>
    </div>
  </div>